
#clientes {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: url("../../../assets/imgs/bkg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;

}

#logo {
    text-align: center;
}

#logo img {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

#serviciocliente {
    margin-top: 10px;
}

#servicio a {
    font-size: 25px;
    font-weight: bold;
    color: #00549b;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1450px) {
   
}

@media all and (min-width: 1450px) and (max-width: 1540px) {
   
  
}

@media all and (min-width: 768px) and (max-width: 1023px) {
   
    #logo img {
        width: 35%;
    }
    #servicio1 {
        width: 35%;
        height: 35%;
    }
    #servicio a {
        font-size: 20px;
        font-weight: bold;
        color: #00549b;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {
    
    #logo img {
        width: 35%;
    }
    #servicio1 {
        width: 35%;
        height: 35%;
    }
    #servicio a {
        font-size: 20px;
        font-weight: bold;
        color: #00549b;
    }
   
}

@media all and (max-width: 480px) {
   
    #clientes {
        position: fixed;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background: url("../../../assets/imgs/bkg.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        z-index: 1;
        overflow: scroll;
    }
    #logo img {
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }
    #serviciocliente {
        margin-top: 10px;
    }
}


/* Portrait */

@media screen and (orientation:portrait) {}


/* Landscape */

@media screen and (orientation:landscape) {}


/* CSS for iPhone, iPad, and Retina Displays */


/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}


/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation:portrait) {}


/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation:landscape) {}


/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation:portrait) {}


/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation:landscape) {}