<div class="container" id="clientes">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left;position: absolute;z-index: 1;top:0">
        <div id="btncerrarcliente">
            <i class="fas fa-times fa-2x"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div id="logo" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img id="logoImg" style="width: 100%;height: 100%; margin-top: 0;">
            </div>
            <div id="serviciocliente" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-4" style="text-align: right;">
                        <img id="servicio1" style="height: 100%;width: 100%">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-4" style="text-align: center;">
                        <img id="servicio2" style="height: 100%;width: 100%">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-4" style="text-align: left;">
                        <img id="servicio3" style="height: 100%;width: 100%">
                    </div>
                    <div id="servicio" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <a id="serviciodado"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>