
/*=========================================
=            Estilos de header            =
=========================================*/
header{
	width: 100%;
	background: #fff;
	top: 0;
}
#est{
  display: none;
}

.menu{
  display: none;
}


img{
	width: 100%;
  /* height: 14%; */
  cursor: pointer;
}

.topnav {
  /* overflow: hidden; */
  background-color: #ffffff;
  padding: 0 3%;
  position: fixed;
  z-index: 1;
}

.topnav a {
  font-size: 25px;
  font-weight: bold;
  /* display: inline-block; */
  color: grey;
  text-align: center;
  /* padding: 10px 30px; */
  /* float: right; */
  margin-top: 30px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #00549b;
}

.topnav a.active {
  border-bottom: 3px solid #00549b;
}


/*=====  End of Estilos de header  ======*/

/*====================================
=            Menu celular            =
====================================*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b2b42;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
  color: #00549b;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.calendarIcon{
  height: 10%;
  width: 10%; 
  cursor: pointer
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*=====  End of Menu celular  ======*/

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

   @media all and (min-width: 1024px) and (max-width: 1450px) { 
   
    .topnav {
      overflow: hidden;
      background-color: #ffffff;
      padding: 0 3%;
      position: fixed;
      z-index: 99000;
    }

    .topnav a {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      color: grey;
      text-align: center;
      padding: 10px 30px;
      float: right;
      margin-top: 30px;
      text-decoration: none;
      border-bottom: 3px solid transparent;
    }

    .topnav a:hover {
      border-bottom: 3px solid #00549b;
    }

    .topnav a.active {
      border-bottom: 3px solid #00549b;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    
    .menu{
      display: none;
    }
    .topnav a {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      color: grey;
      text-align: center;
      padding: 10px 10px;
      float: right;
      margin-top: 20px;
      text-decoration: none;
      border-bottom: 3px solid transparent;
    }
    /* .header1 img{
      margin-top: 10px;
      width: 25%; 
      height: 70px;
    } */

    }

    @media all and (min-width: 1450px) and (max-width: 1540px) {
      
    }

    /*@media all and (min-width: 480px) and (max-width: 846px) {*/
      @media all and (min-width: 480px) and (max-width: 767px) {
        .menu{
          display: block;
          position: fixed;
          z-index: 1;
        }
        .imgLogo img{
          width: 80%;
          height: 80%;
          margin-top: 5px;
        }
      }

      @media all and (max-width: 480px) {
        .header1{
          display: none;
        }
        .menu{
          display: block;
          position: fixed;
          z-index: 1;
        }
      }


      /* Portrait */
      @media screen and (orientation:portrait) {

      }
      /* Landscape */
      @media screen and (orientation:landscape) {

      }


      /* CSS for iPhone, iPad, and Retina Displays */

      /* Non-Retina */
      @media screen and (-webkit-max-device-pixel-ratio: 1) {

      }

      /* Retina */
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (-o-min-device-pixel-ratio: 3/2),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {
      }

      /* iPhone Portrait */
      @media screen and (max-device-width: 480px) and (orientation:portrait) {

      } 

      /* iPhone Landscape */
      @media screen and (max-device-width: 480px) and (orientation:landscape) {

      }

      /* iPad Portrait */
      @media screen and (min-device-width: 481px) and (orientation:portrait) {

      }

      /* iPad Landscape */
      @media screen and (min-device-width: 481px) and (orientation:landscape) {

      }



      @media (min-width: 481px) and (max-width: 767px) {

    

      }

      @media (min-width: 320px) and (max-width: 480px) {

        

      }




