<header class="header1" style="z-index: 99000 !important">
    <div class=" container-fluid topnav">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/imgs/Services/logo.png" [routerLink]="['/index']" />
            </div>
            <div class="col-10">
                <div class="col-12 ">
                    <div class="row">
                        <a class="col col-lg-2" [routerLink]="['/nosotros']">Nosotros</a>
                        <a class="col col-lg-2" [routerLink]="['/servicios']">Servicios</a>
                        <a class="col col-lg-2" [routerLink]="['/productos']">Productos</a>
                        <a class="col col-lg-2" [routerLink]="['/educacion']">Educación</a>
                        <a class="col col-lg-1" [routerLink]="['/blog']">Blog</a>
                        <a class="col col-lg-2" [routerLink]="['/contacto']">Contacto</a>
                        <a class="col col-lg-1" [routerLink]="['/unete']">Únete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<header class="menu">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div type="button" class="btn" style="color: white; margin-top: 15px; background-color: #0b2d42;" (click)="openNav()">
                    <i class="fas fa-bars "></i>
                </div>
			</div>
			<div class="col-6 imgLogo ">
				<img src="../../assets/imgs/Services/logo.png" [routerLink]="['/index']">
			</div>
		</div>
	</div>				
    <div id="mySidenav" class="sidenav">
        <a class="closebtn" (click)="closeNav()">&times;</a>
        <a [routerLink]="['/nosotros']" (click)="closeNav()">Nosotros</a>
        <a [routerLink]="['/servicios']" (click)="closeNav()">Servicios</a>
        <a [routerLink]="['/productos']" (click)="closeNav()">Productos</a>
        <a [routerLink]="['/educacion']" (click)="closeNav()">Educación</a>
        <a [routerLink]="['/blog']" (click)="closeNav()">Blog</a>
        <a [routerLink]="['/contacto']" (click)="closeNav()">Contacto</a>
        <a [routerLink]="['/unete']" (click)="closeNav()" style="border-bottom: 1px solid #fff">Únete</a>
        <div style="text-align: left;" id="est">
            <a style="color: #fff;position: absolute;font-size: 36px;right: 25px;" (click)="closeCat()">&times;</a>
            <a style="color: #fff;font-size: 35px">Blog Categorias</a>
            <!-- <a class="filtro" name="todo" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Todo</a> -->
            <!-- <a *ngFor="let CatBlog of CatBlog" class="filtro" name="1" style="color: #fff" [routerLink]="['/blog/'+CatBlog.idCategoriablog]" (click)="closeNav()">{{CatBlog.nombreCategoriablog}}</a> -->
            <!-- 
            <a class="filtro" name="2" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Estrategias</a>
            <a class="filtro" name="3" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Proyectos</a>
            <a class="filtro" name="4" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Aplicaciones</a>
            <a class="filtro" name="5" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Servicios Administrados</a>
            <a class="filtro" name="6" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Marketing</a>
            <a class="filtro" name="7" style="color: #fff" [routerLink]="['/blog']" (click)="closeNav()">Tecnologia</a> -->
        </div>
    </div>
</header>