*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.background{
	background-image: url(../assets/img/background2.jpg);
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.centrar {
   padding-top: 10%;
   padding-bottom: 10%;
   overflow: hidden;

}
#nombreAdministrador{
	color: white;
	font-weight: bold;
	font-family: monospace;
	overflow: hidden;
}
.navs{
  position: fixed;
  background-color: #EEEBEA;
  height: 100%;
  z-index: 50;
}
.menu a{
  color: black;
  font-weight: bold;
  font-family: monospace;
  overflow: hidden;
}
.lbimg img{
  width: 50%;
  height: 50%
}
.lbimg{
  background-color: #00549b;
  padding-bottom: 5%;
}
.container{
  margin-top: 6vh;
  margin-left: 19%;
}
.itmen{
  padding-left: 5%;
  text-align: left;
  height: 5vh;
}
.itmen:hover{
  background-color: #B5DDF7;
  cursor: pointer;
}
/*.itmen:focus{
  background-color: #B5DDF7;
  cursor: pointer;
  box-shadow: none;
  border: none;
}*/
.itmen.active{
  background-color: #B5DDF7;
  cursor: pointer;
  box-shadow: none;
  border: none;
}
/*991*/
@media screen and (max-width: 600px){
  .navs{
    display: none;
  }
  .container{
    margin-left: 0;
  }
  .cont{
    height: 100%;
  }
}


/*@media screen and (max-width: 500px){
  span.psw{
    display: block;
    float: none;
  }
  .cancelbtn{
    width:100%;
  }
  .modal-content{
    background-color: tomato;
  }
}*/
