
<!-- imagen lateral -->
<div class="row " *ngIf="identity">
  <div  class="text-center col-sm-2 navs">
    <nav id="admin_logged">
      <div class="adimg" *ngIf='identity.fotoAdministrador && administrador.fotoAdministrador != "default.png"' class="lbimg">
        <label id="nombreAdministrador">{{identity.nombreAdministrador + ' ' + identity.apellidopaternoAdministrador + ' ' + identity.apellidomaternoAdministrador}}</label>
        <img id="fotoAdministrador" src="{{url+ '/getImagen/' + identity.fotoAdministrador}}" class="img-fluid rounded-circle img-thumbnail">
      </div><br>
      <div class="menu" tabindex="0"> 
        <div class="itmen" id="1" [routerLink]="['/']">
          <a >
            <i class="fas fa-user-alt"> Mis Datos</i>
          </a>
        </div>
        <div class="itmen" id="2" [routerLink]="['/register']">
          <a >
            <i class="fas fa-plus"> Añadir Administrador</i>
          </a>
        </div>
        <div class="itmen" id="3" [routerLink]="['/aspirantes']">
          <a >
             <i class="fas fa-chalkboard-teacher"> Aspirantes</i>
          </a>
        </div>
        <div class="itmen" id="4"[routerLink]="['/cursos']">
          <a >
            <i class="fas fa-book-open"> Cursos</i>
          </a>
        </div>
        <div class="itmen" id="5" [routerLink]="['/clientes']">
          <a >
            <i class="fas fa-handshake"> Clientes</i>
          </a>
        </div>
        <div class="itmen" id="6" [routerLink]="['/nuevosclientes']">
          <a >
            <i class="fas fa-search-plus"> Prospectos a Clientes</i>
          </a>
        </div>
        <div class="itmen" id="7" [routerLink]="['/categorias']">
          <a >
            <i class="fas fa-tags"> Categorias</i>    
          </a>
        </div>
        <div class="itmen" id="8" [routerLink]="['/blog']">
          <a >
            <i class="fas fa-newspaper"> Blog</i>    
          </a>
        </div>
        <div class="itmen" id="9" [routerLink]="['/personal']">
          <a >
            <i class="fas fa-users"> Personal</i>    
          </a>
        </div>
        <div class="itmen" id="10" [routerLink]="['/serv']">
          <a >
            <i class="fas fa-cogs"> Servicios</i>    
          </a>
        </div>
      </div>
    </nav>
  </div> 
  <!-- <a [routerLink]='["/update"]'>Actualizar Mis Datos</a> -->

<!-- LogOut -->
  <div *ngIf="identity" class="col-lg-12 col-sm-12 text-center cont">
    <app-navbar (cerrarsesion)='logOut($event)'></app-navbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>


<!-- Login -->
<!-- <div class="container-fluid background"> -->
<div class="text-center background centrar ng-star-inserted" *ngIf="!identity">
  <!-- <div align="center"> -->   
    <app-login (sendIdentity)='getIdentity($event)'  (sendToken)='getToken($event)' (aparecerRegistro)='ocultar($event)' *ngIf='login'></app-login>
    <!-- <app-register *ngIf='registro' (aparecerLogin)='regresaLogin($event)'></app-register> -->    
  <!-- </div> -->
</div>
<!-- </div> -->

