<div class="row">
	<div class="col-12">
		<button type="button" id="add" [routerLink]="['/regblog']" class="btn btn-success text-center">+</button>
	</div>
</div>
<div class="row container">
	<div class="col-lg-4" *ngFor="let blog of blog">
<mat-card class="card" [class.baja]="blog.statusNoticiablog == '0'">
	<mat-card-header>
		<mat-card-title>Noticia: {{blog.tituloNoticiablog}}</mat-card-title>
		<mat-card-subtitle>Fecha: {{blog.fechaNoticiablog}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content></mat-card-content>
	<mat-card-actions>
		<div class="row text-center">
			<div class="col-6">
				<button mat-button [routerLink]="['/editblog/'+blog.idNoticiablog]" class="ver zoom text-center">Editar</button>
			</div>
			<div class="col-6">
				<button mat-button (click)="elimConf(blog.idNoticiablog)" class="cancelar text-center" [class.des]="blog.statusNoticiablog == '0'" [class.act]="blog.statusNoticiablog == '1'">Desactivar</button>
				<button mat-button (click)="regreConf(blog.idNoticiablog)" class="cancelar text-center" [class.des]="blog.statusNoticiablog == '1'" [class.act]="blog.statusNoticiablog == '0'">Activar</button>
			</div>
		</div>
	</mat-card-actions>
</mat-card>
</div>
</div>