<div class="card-container card" >
	<h1>Modificar noticia</h1>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<div class="image_for_edit text-center" *ngIf='blog.imagenNoticiablog && blog.imagenNoticiablog != "default.jpg"'>
				<img class="imgs" id="imgloca" src="{{dir+ 'getImageFileB/' +blog.imagenNoticiablog}}" class="img-form">
			</div>
			<p>
				<label>Categoría:</label>
				<select
				class="form-control" 
				[(ngModel)] = 'blog.idCategoriablog_Noticiablog'
				#id = 'ngModel' name="id">
					<option *ngFor="let categoriaBlog of categoriaBlog"
					 [value]="categoriaBlog.idCategoriablog">
					 {{categoriaBlog.nombreCategoriablog}}
					</option>
				</select>
			</p>
			<p>
				<label>Título:</label>
				<input type="text" #nombre = 'ngModel' name="nombre" [(ngModel)] = 'blog.tituloNoticiablog' class="form-control" placeholder="Titulo" required>
			</p>
			<p>
				<label>Descripcion:</label>
				<input type="text" #desc = 'ngModel' name="desc" [(ngModel)]='blog.descripcionNoticiablog' class="form-control" placeholder="Descripcion" required>
			</p>
			<p>
				<label>Fecha:</label>
				<input type="text" #date = 'ngModel' name="date" [(ngModel)]='blog.fechaNoticiablog' class="form-control" placeholder="Fecha" required>
			</p>
			<p>
				<label>Imagen:</label>
				<br>
				<input type="file" placeholder="Sube una imagen..." class="hide" id="files" (change)='fileChangeEvent($event)'><br>
        		<output id="list"></output><br>
        		<label id="info"></label>
			</p>

			<div class="row text-center">
				<div class="col-6">
					<button type="submit"  class="btn btn-primary">Modificar</button>
				</div>
				<div class="col-6">
					<button mat-button [routerLink]="['/blog']" class="btn btn-success cancelar">Ver Noticias</button>
				</div>
			</div>
		</form>
	</div>
</div>