<div class="card-container card">
	<h1>Agrega una noticia</h1>
	<div *ngIf='alertRegister'>
		<div class="alert alert-info" role="alert">
			{{alertRegister}}
		</div>
	</div>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<p>
				<label>Categoría:</label>
				<select
				class="form-control" 
				[(ngModel)] = 'blog.idCategoriablog_Noticiablog'
				#id = 'ngModel' name="id">
					<option value="" disabled selected>Elija una categoría</option>
					<option *ngFor="let categoriaBlog of categoriaBlog"
					 [value]="categoriaBlog.idCategoriablog">{{categoriaBlog.nombreCategoriablog}}
					</option>
				</select>
			</p>
			<p>
				<label>Título:</label>
				<input type="text" #nombre = 'ngModel' name="nombre" [(ngModel)] = 'blog.tituloNoticiablog' class="form-control" placeholder="Titulo" required>
			</p>
			<p>
				<label>Descripcion:</label>
				<input type="text" #desc = 'ngModel' name="desc" [(ngModel)]='blog.descripcionNoticiablog' class="form-control" placeholder="Descripcion" required>
			</p>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Crear</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/blog']" class="btn btn-success">Ver Noticias</button>
				</div>
			</div>
		</form>
	</div>
</div>