<div class="equipo">
    <div class="col-md-12" id="equipo">
        <div class="row">
            <div class="col-md-12" style="text-align: right;position: absolute;z-index: 1;margin-top: 10px;">
                <div id="btnCerrar">
                    <i class="fas fa-times fa-2x"></i>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href='https://www.linkedin.com/in/lisandro-uriel-de-los-santo-mart%C3%ADnez-827075102/'">
                                <img src="../../assets/imgs/lisandro 002.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Lisandro Martínez</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Realizo mis programas para que los entiendan las personas no las máquinas, me gusta trasmitir
                                    mis conocimientos, así sé que he aprendido verdaderamente"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href='https://www.linkedin.com/in/mariana-l%C3%B3pez-mendoza-998641142/'">
                                <img src="../../assets/imgs/mariana 001.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Mariana López</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Mi gran fuerza radica en la interacción con los demás, las condiciones que nos rodean nos
                                    dan las soluciones más sencillas que apoyan a nuestros clientes a avanzar en su negocio"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href='https://www.linkedin.com/in/ricardo-david-hern%C3%A1ndez-ram%C3%ADrez-b20b84163/'">
                                <img src="../../assets/imgs/ricardo 002.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Ricardo Hernández</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Se que la tecnología no basta para que la solución sea óptima, pongo mi sentir en el desarrollo
                                    de las aplicaciones"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href=''">
                                <img src="../../assets/imgs/magda 002.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Magda Sevilla</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Creo en la importancia de ver para prever, en estudiar lo que es a fin de concluir de ello
                                    lo que será, esa es mi labor en las soluciones con mi equipo"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href=''">
                                <img src="../../assets/imgs/benjamin 001.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Benjamin Paredes</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Entender la tecnología me ayuda a darle soporte a las soluciones de negocio y a gestionar
                                    fácilmente su seguridad"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href=''">
                                <img src="../../assets/imgs/jocelyn 001.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Jocelyn Reyes</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Me agrada ocupar las mejores técnicas de diseño para generar soluciones de negocio, siempre
                                    que la acompañe mi imaginación y experiencia en la comunidad que me desenvuelvo"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href=''">
                                <img src="../../assets/imgs/daniel 001.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Daniel Quintana</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">""Me gusta analizar los problemas para captar el conflicto entre las diferentes formas de
                                    pensar, así me es más cómodo desarrollar una solución"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href='https://www.linkedin.com/in/amellaly-hernandez-ramirez-04038b159/'">
                                <img src="../../assets/imgs/ame 002.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Amellaly Hernández</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Me gusta diseñar conceptos que den la satisfacción que la gente necesita no por hacer dinero
                                    o conseguir lo que quieren"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="row">
                    <div class="col-md-12 equipo">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 linked-in" onClick="location.href='https://www.linkedin.com/in/gerardo-zamudio-gonzalez-gzg32/'">
                                <img src="../../assets/imgs/gera 002.jpg">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a>Gerardo Zamudio</a>
                            </div>
                            <div class="col-md-12">
                                <p class="equipo-frase">"Me gusta crear soluciones de usuario que hagan parecer que la experiencia es comunicarse
                                    con otro ser humano"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>