#equipo {
    display: none;
}

.equipo img {
    width: 100%;
    height: 100%;
}

.linked-in {
    text-align: center;
}

.linked-in:hover {
    opacity: 0.5;
    cursor: pointer;
}

.equipo-frase {
    font-size: 20px;
}

#equipo {
    overflow: scroll;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: url("https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
    padding-top: 7%
}

#equipo {
    color: #0b2d42;
}

#equipo a {
    font-size: 20px;
}

#equipo p {
    color: #00549b;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1450px) {
    
}

@media all and (min-width: 1450px) and (max-width: 1540px) {
    
}

@media all and (min-width: 768px) and (max-width: 1023px) {
   
    #btnEquipo2 {
        height: 50%;
        width: 50%;
    }
   
    .equipoimg {
        width: 100%;
        height: 100%;
    }
    #btnCerrar {
        display: scroll;
        position: fixed;
        z-index: 1;
    }
    
}

@media all and (min-width: 480px) and (max-width: 767px) {
    
    #btnCerrar {
        display: scroll;
        position: fixed;
        z-index: 1;
    }
    
    #btnEquipo2 {
        height: 100%;
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    
    .equipo img {
        width: 40%;
        height: 100%;
    }
    #btnEquipo2 {
        height: 100%;
        width: 100%;
    }
    .equipo img:hover {
        opacity: 0.5;
    }
    #equipo {
        overflow: scroll;
        /*text-align: center;*/
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        /*height: 100%;
	    width: 100%;*/
        /*margin-top: -4px; 
	    margin-left: -4px; */
        background: url("https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg");
        background-repeat: no-repeat;
        background-position: 60% 60%;
        background-size: cover;
        z-index: 1;
    }
    #equipo {
        color: #0b2d42;
    }
    #equipo a {
        font-size: 25px;
    }
    #equipo p {
        color: #00549b;
    }
    
    #btnCerrar {
        display: scroll;
        position: fixed;
        z-index: 1;
    }
}


/* Portrait */

@media screen and (orientation:portrait) {}


/* Landscape */

@media screen and (orientation:landscape) {}


/* CSS for iPhone, iPad, and Retina Displays */


/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}


/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation:portrait) {}


/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation:landscape) {}


/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation:portrait) {}


/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation:landscape) {}

