<div class="footer">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="tel:5583096632" style="font-size: 20px;color: white">
                    <i class="fas fa-mobile-alt fa-2x"></i>
                    &nbsp;55 8309 6632</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <p style="font-size: 20px">
                    <a href="https://www.facebook.com/CIHumanaConsultoria/" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://www.youtube.com/channel/UC7HsQzcmbbkZsqJVFmZcVKg" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-youtube-square fa-2x" ></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://mx.linkedin.com/company/consultor%C3%ADa-inform%C3%A1tica-humana" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-linkedin fa-2x" ></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://twitter.com/CIHumana" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-twitter-square fa-2x" ></i>
                    </a>
                </p>
                <p>Paseo de la Reforma 296, Piso 38 Col. Juarez,</p>
                <p>Del. Cuahutemoc C.P 06600 CDMX</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="mailto:contacto@cihumana.com.mx" target="blank" style="font-size: 20px;color: white">
                    <i class="fas fa-envelope fa-2x"></i>&nbsp;contacto@cihumana.com.mx</a>
                <br>
                <br>
                <a href="https://drive.google.com/file/d/15lGUDKpVAxuFpAhxwUKSBqOxoEa45ZrZ/view?usp=sharing" target="blank" style="font-size: 20px;color: white;">Aviso de privacidad</a>
            </div>
        </div>
    </div>
</div>
<footer class="footer2">
    <div class="col-12">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-2">
                <a href="tel:5583096632" style="color: white">
                    <i class="fas fa-mobile-alt fa-2x"></i>
                </a>
            </div>
            <div class="col-2">
               <a href="https://www.facebook.com/CIHumanaConsultoria/" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-facebook fa-2x"></i>
                    </a>
            </div>
            <div class="col-2">
                <a href="https://www.youtube.com/channel/UC7HsQzcmbbkZsqJVFmZcVKg" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-youtube-square fa-2x" ></i>
                    </a>
            </div>
            <div class="col-2">
                <a href="https://mx.linkedin.com/company/consultor%C3%ADa-inform%C3%A1tica-humana" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-linkedin fa-2x" ></i>
                    </a>
            </div>
            <div class="col-2">
                <a href="https://twitter.com/CIHumana" target="blank" style="text-decoration: none; color: #fff;">
                    <i class="fab fa-twitter-square fa-2x" ></i>
                    </a>
            </div>
            <div class="col-2">
                <a href="mailto:contacto@cihumana.com.mx" target="blank" style="color: white">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <a href="https://drive.google.com/file/d/15lGUDKpVAxuFpAhxwUKSBqOxoEa45ZrZ/view?usp=sharing" target="blank" style="color: white;">AVISO DE PRIVACIDAD</a>

            </div>
        </div>
    </div>
</footer>