.footer {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
    background-color: #0b2d42;
    color: #fff;
}

.footer2 {
    display: none;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1450px) {

}

@media all and (min-width: 1450px) and (max-width: 1540px) {
    
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        display: none;
    }
    .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .footer {
        display: none;
    }
    .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .footer {
        display: none;
    }
    .footer a {
        text-decoration: none;
    }
    .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
    }
}


/* Portrait */

@media screen and (orientation:portrait) {}


/* Landscape */

@media screen and (orientation:landscape) {}


/* CSS for iPhone, iPad, and Retina Displays */


/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}


/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation:portrait) {}


/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation:landscape) {}


/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation:portrait) {}


/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation:landscape) {}