#bot{
  background-color: #00549b;
}
.img-form{
	width: 20vw;
	height: 20vh;
	object-fit: scale-down;
}
.container{
	margin-bottom: 10px;
}
/*input[type=file].hide{
	color: transparent;
	margin-left: 14%;
	border: none;
}*/
/*#list{
	height: 150px;
	width: 150px;
}*/
.hide {
  visibility: hidden;
  width: 0;
 /* position: relative;*/
  margin-right: 10%;
}
.hide::before{
  content: 'Subir Archivos';
  display: inline-block;
  background-color: #00549b; 
  border: 1px solid #00549b;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
  color: white; 
}
#info{
	display: none;
}
#files{
	padding-bottom: 5px;
}
/*output{
	width: 20vw;
	height: 20vh;
	object-fit: scale-down;
}*/
.form-cent{
    margin-left: 30%;
    text-align: center;
    width: 40%;
}
.progress{
	margin-left: 25%; 
	width: 50%;
	/*display: none;*/
}
.progress label{
	display: none;
}


@media screen and (max-width: 600px){
  .hide{
    margin-right: 40%;
  }
}