<div class="col-lg-12 text-center co">
	<h1>{{titulo}}</h1>
	<div *ngIf='alertUpdate'>
		<div class="alert alert-info" role="alert">
			{{alertUpdate}}
		</div>
	</div>
	<div class="container">
		<form #updateForm = 'ngForm' (ngSubmit)= 'onSubmit()' class="col-md-12">
			<div class="image_for_edit" *ngIf='administrador.fotoAdministrador && administrador.fotoAdministrador != "default.jpg"'>
				<img src="{{url+ '/getImagen/' +administrador.fotoAdministrador}}" class="img-form">
			</div>
			<p>
				<label>Nombre:</label>
				<input type="text" #name = 'ngModel' name="nombreAdministrador" [(ngModel)] = 'administrador.nombreAdministrador' class="form-control form-cent" required>
			</p>
			<p>
				<label>Apellido Paterno:</label>
				<input type="text" #paterno = 'ngModel' name="apellidopaternoAdministrador" [(ngModel)]='administrador.apellidopaternoAdministrador' class="form-control form-cent" required>
			</p>
			<p>
				<label>Apellido Materno:</label>
				<input type="text" #materno = 'ngModel' name="apellidomaternoAdministrador" [(ngModel)] = 'administrador.apellidomaternoAdministrador' class="form-control form-cent" required>
			</p>
			<p>
				<label>Correo Electronico:</label>
				<input type="text" #email = 'ngModel' name="correoAdministrador" [(ngModel)] = 'administrador.correoAdministrador' class="form-control form-cent" required>

			</p>
			<p>
				<label>Cambiar Imagen</label><br>
				<input type="file" accept=".jpg, .png, .jpeg|images/*" placeholder="Sube una imagen..." class="hide" id="files" (change)='fileChangeEvent($event)'><br>
				<output id="list"></output><br>
				<label id="info"></label>
			</p>
			<div class="progress">
				<label id="lid">{{administrador.idAdministrador}}</label>
					<div class="progress-bar progress-bar-striped active" role="progressbar">
						
					</div>
				</div><br>
			<input type="submit" value="Actualizar" class="btn btn-primary" id="bot">
		</form>
	</div>
</div>
