/*================================================
=            Importacion de la fuente            =
================================================*/
html,body{
  height:100%;
}

@font-face {
	font-family: 'Champagne & Limousines';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/css/font/Champagne\ &\ Limousines.woff') format('woff');
}
/*=====  End of Importacion de la fuente  ======*/


/*============================================
=            Parametros generales            =
============================================*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Champagne & Limousines';
	font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*=====  End of Paremetros generales  ======*/

/*=============================
=            Video            =
=============================*/
#myVideo {
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -100;
}

#myVideocel {
  display: none; 
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -100;
}
/*=====  End of Video  ======*/

/*=================================
=            Contenido            =
=================================*/
.content {
 text-align: center;	
 position: fixed;
 overflow: hidden;
 /*background: rgba(0, 84, 155, 0.5);*/
 color: #fff;
 width: 100%;
 height: 100%;
   background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 84, 155, 0.5), 
      rgba(0, 84, 155, 0.5)
    ),
    /* bottom, image */
    url(../../../assets/video/video.gif) no-repeat  center fixed;
    background-size: cover;
 }


.content h1{
	margin-top: 200px;
	font-size: 50px;
	font-weight: lighter;
}

.content p{
	font-size: 22px;
}
.content img{
  width: 100%;
  height: 100%;
}

.content input[type="button"]{
 margin: 10px auto 0 auto;
 color: #fff;
 border: 1px solid transparent;
 border-radius: 10px;
 background: #0b2d42; 
 display: block;
 font-size:150%;
 padding: 0px 80px;

}

#contenido{
 margin-top: 10%;
}

#icon img{
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
.menuA{
  border-bottom: 1px solid white;
}
.menuA a{
  color: white;
}
.flotador2{
  display: none;
}

/*=====  End of Contenido  ======*/


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

   @media all and (min-width: 1024px) and (max-width: 1450px) { 
    .flotador{
      color: #00549b;
      display:scroll;
      position:fixed;
      bottom:400px;
      right: -950px;
      z-index: 1;
    }
    .content h1{
      margin-top: 0px;
      font-size: 50px;
      font-weight: lighter;
    }

    .topnav {
      overflow: hidden;
      background-color: #ffffff;
      padding: 0 3%;
      position: fixed;
      z-index: 99000;
    }

    .topnav a {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      color: grey;
      text-align: center;
      padding: 10px 30px;
      float: right;
      margin-top: 30px;
      text-decoration: none;
      border-bottom: 3px solid transparent;
    }

    .topnav a:hover {
      border-bottom: 3px solid #00549b;
    }

    .topnav a.active {
      border-bottom: 3px solid #00549b;
    }
      
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    .menu{
      display: none;
    }
    .topnav a {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      color: grey;
      text-align: center;
      padding: 10px 10px;
      float: right;
      margin-top: 20px;
      text-decoration: none;
      border-bottom: 3px solid transparent;
    }
    .header1 img{
      margin-top: 10px;
      width: 25%; 
      height: 70px;
    }
    .flotador{
      display: inline-block;
      color: #00549b;
      display:scroll;
      position:fixed;
      bottom:20px;
      right: 10px;
      z-index: 1;
      height: 13%;
      width: 10%;
    }
    .calendarIcon{
      height: 80%;
      width: 100%; 
      cursor: pointer
    }
    #enviar{
      color: #fff;
      border: 1px solid transparent;
      border-radius: 10px;
      background: #0b2d42; 
      font-size:150%;
      padding: 10px 50px;

    }

    #cancelar{
      color: #fff;
      border: 1px solid transparent;
      border-radius: 10px;
      background: #0b2d42; 
      font-size:150%;
      padding: 10px 50px;
    }
    /*.flotador2{
      display: inline-block;
      color: #00549b;
      display:scroll;
      position:fixed;
      bottom:20px;
      right: 10px;
      z-index: 1;
      height: 13%;
      width: 10%;
      }*/
      #prueba{
        display: none;
      }

      #agenda2{
        z-index: 1;
        overflow: scroll;
        height: 100%;
      }
      .content {
        text-align: center; 
        position: fixed;
        overflow: hidden;
        color: #fff;
        width: 100%;
        height: 100%;
        background:  
          linear-gradient(
         rgba(0, 84, 155, 0.5), 
         rgba(255, 0, 0, 0.45)
         ),
          url(../../../assets/video/video.gif)no-repeat  center fixed;
          background-size: cover;
      }

      .content h1{
        margin-top: 0px;
        font-size: 25px;
        font-weight: lighter;
      }

      .content p{
        font-size: 20px;
      }
      .content img{
        width: 100%;
        height: 100%;
      }

      .content input[type="button"]{
        color: #fff;
        border: 1px solid transparent;
        border-radius: 10px;
        background: #0b2d42; 
        display: block;
        font-size:100%;

      }

    }

    @media all and (min-width: 1450px) and (max-width: 1540px) {
      .flotador{
        color: #00549b;
        display:scroll;
        position:fixed;
        bottom:600px;
        right: -950px;
        z-index: 1;
      }

    }

    /*@media all and (min-width: 480px) and (max-width: 846px) {*/
      @media all and (min-width: 480px) and (max-width: 767px) {
        .flotador{
          display: none;
        }
        .flotador2{
          display: inline-block;
          color: #00549b;
          display:scroll;
          position:fixed;
          bottom:20px;
          right: 10px;
          z-index: 1;
          height: 13%;
          width: 10%;
        }
        .imgLogo img{
          width: 80%;
          height: 80%;
          margin-top: 5px;
        }
        .header1{
          display: none;
        }
        .menu{
          display: block;
          position: fixed;
          z-index: 1;
        }
        #prueba{
          display: none;
        }

        #agenda2{
          z-index: 1;
          overflow: scroll;
          height: 100%;
        }
        .content {
          text-align: center; 
          position: fixed;
          overflow: hidden;
          color: #fff;
          width: 100%;
          height: 100%;
          background:  
          linear-gradient(
         rgba(0, 84, 155, 0.5), 
         rgba(0, 84, 155, 0.5)
         ),
          url(../../../assets/video/video.gif) no-repeat center fixed;
          background-size: cover;
        }

        .content h1{
          margin-top: 0px;
          font-size: 25px;
          font-weight: lighter;
        }

        .content p{
          font-size: 20px;
        }
        .content img{
          width: 100%;
          height: 100%;
        }

        .content input[type="button"]{
          color: #fff;
          border: 1px solid transparent;
          border-radius: 10px;
          background: #0b2d42; 
          display: block;
          font-size:100%;

        }
      }

      @media all and (max-width: 480px) {


        .celular{
          display: inline-block;
        }
        .escritorio{
          display: none;
        }
        .flotador{
          display: none;
        }
        .flotador2{
          display: inline-block;
          color: #00549b;
          display:scroll;
          position:fixed;
          bottom:120px;
          right: 10px;
          z-index: 1;
          height: 9%;
          width: 14%;
        }
        .imgLogo img{
          width: 100%;
          height: 90%;
          margin-top: 5px;
        }
        .header1{
          display: none;
        }
        .menu{
          display: block;
          position: fixed;
          z-index: 1;
        }
        #prueba{
          display: none;
        }

        #agenda2{
          position: fixed;
          z-index: 1;
          overflow: scroll;
          height: 100%;
        }
        .content {
          text-align: center; 
          position: fixed;
          overflow: hidden;
          color: #fff;
          width: 100%;
          height: 100%;
          background:  
          linear-gradient(
         rgba(0, 84, 155, 0.5), 
         rgba(0, 84, 155, 0.5)
         ),
          url(../../../assets/video/video_cel.gif) no-repeat  center fixed;
          background-size: cover;
        }

        .content h1{
          margin-top: 10px;
          font-size: 25px;
          font-weight: lighter;
        }

        .content p{
          text-align: center;
          font-size: 19px;
        }
        .content img{
          width: 100%;
          height: 100%;
        }

        .content input[type="button"]{
          margin: 10px auto 0 auto;
          color: #fff;
          border: 1px solid transparent;
          border-radius: 10px;
          background: #0b2d42; 
          display: block;
          font-size:150%;
          padding: 0px 80px;

        }
      }


      /* Portrait */
      @media screen and (orientation:portrait) {

      }
      /* Landscape */
      @media screen and (orientation:landscape) {

      }


      /* CSS for iPhone, iPad, and Retina Displays */

      /* Non-Retina */
      @media screen and (-webkit-max-device-pixel-ratio: 1) {

      }

      /* Retina */
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (-o-min-device-pixel-ratio: 3/2),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {
      }

      /* iPhone Portrait */
      @media screen and (max-device-width: 480px) and (orientation:portrait) {

      } 

      /* iPhone Landscape */
      @media screen and (max-device-width: 480px) and (orientation:landscape) {

      }

      /* iPad Portrait */
      @media screen and (min-device-width: 481px) and (orientation:portrait) {

      }

      /* iPad Landscape */
      @media screen and (min-device-width: 481px) and (orientation:landscape) {

      }



      @media (min-width: 481px) and (max-width: 767px) {

    

      }

      @media (min-width: 320px) and (max-width: 480px) {

        

      }



