<!--===========================
	=            Video            =
	============================-->
<!-- <video autoplay muted preload="auto" loop id="myVideo" >
    <source src="../../assets/video/video.mp4" type="video/mp4"> Your browser does not support HTML5 video.
</video> -->



<!-- <video autoplay muted playsinline loop id="myVideocel">
    <source src="../../assets/video/video cel.mp4" type="video/mp4"> Your browser does not support HTML5 video.
</video> -->
<!--====  End of Video  ====-->
<!--============================================
	=            Contenido de la pagina            =
	=============================================-->
<div class="content">
    <div class="col-md-12" id="contenido">
        <div class="row">
            <div class="col-md-12">
                <h1>BIENVENIDO A CIHUMANA</h1>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p style="font-weight: bold;">Somos un equipo de personas dedicadas desde hace más de 18 años, a ofrecer soluciones de negocio
                            como una empresa encaminada a satisfacer las necesidades de los clientes y apoyarlos a resolver
                            sus problemas.</p>
                        <p style="text-align: right; font-weight: bold;">El valor humano de la información.</p>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-12">
                        <input type="button" value="Servicios" style="cursor: pointer;" [routerLink]="['/servicios']" />
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <div id="icon" class="col-md-3 col-3 col-xs-3 col-sm-3" style="cursor: pointer">
                                <img src="../../assets/imgs/facebook index-01.png" onClick="location.href='https://www.facebook.com/CIHumanaConsultoria/'">
                            </div>
                            <div id="icon" class="col-md-3 col-3 col-xs-3 col-sm-3" style="cursor: pointer">
                                <img src="../../assets/imgs/linkedin index-01.png">
                            </div>
                            <div id="icon" class="col-md-3 col-3 col-xs-3 col-sm-3" style="cursor: pointer">
                                <img src="../../assets/imgs/twitter index-01.png" onClick="location.href='https://twitter.com/HumanaCi'">
                            </div>
                            <div id="icon" class="col-md-3 col-3 col-xs-3 col-sm-3" style="cursor: pointer">
                                <img src="../../assets/imgs/youtube-02.png" onClick="location.href='https://www.youtube.com/channel/UC7HsQzcmbbkZsqJVFmZcVKg'">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====  End of Contenido de la pagina  ====-->    