<div class="col-lg-12 text-center co">
<h1>Añadir Nuevo Administrador</h1>
<div *ngIf='alertRegister'>
  <div class="alert alert-info" role="alert">
    {{alertRegister}}
  </div>
</div>
<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12" >
  <p>
    <label>Nombre:</label>
    <input type="text" #nombre = 'ngModel' name="nombre" [(ngModel)] = 'administradorRegistro.nombreAdministrador' class="form-control form-cent" placeholder="Nombre" required>
    <span *ngIf="!nombre.valid && nombre.touched" class="alert-danger">
          Debe ingresarse un Nombre 
    </span> 
  </p>
  <p>
    <label>Apellido Paterno:</label>
    <input type="text" #paterno = 'ngModel' name="paterno" [(ngModel)]='administradorRegistro.apellidopaternoAdministrador' class="form-control form-cent" placeholder="Apellido Paterno" required>
    <span *ngIf="!paterno.valid && paterno.touched" class="alert-danger">
          Debe ingresarse un Apellido Paterno 
    </span> 
  </p>
  <p>
    <label>Apellido Materno:</label>
    <input type="text" #materno = 'ngModel' name="materno" [(ngModel)] = 'administradorRegistro.apellidomaternoAdministrador' class="form-control form-cent" placeholder="Apellido Materno" required>
    <span *ngIf="!materno.valid && materno.touched" class="alert-danger">
          Debe ingresarse un Apellido Materno 
    </span>  
  </p>
  <p>
    <label>Correo Electronico:</label>
    <input type="text" #email = 'ngModel' name="email" [(ngModel)] = 'administradorRegistro.correoAdministrador' class="form-control form-cent" placeholder="Correo" required>
    <span *ngIf="!email.valid && email.touched" class="alert-danger">
          Debe ingresarse un Correo
    </span>    
  </p>
  <p>
    <label>Contraseña:</label>
    <input type="password" #password = 'ngModel' name="password" [(ngModel)] = 'administradorRegistro.passwordAdministrador' class="form-control form-cent" placeholder="Contraseña" required>
    <span *ngIf="!password.valid && password.touched" class="alert-danger">
          Debe ingresarse una Contraseña
    </span>  
  </p>
  <div>
  <input type="submit" value="Añadir" class="btn btn-primary zoom inp">
  <!-- <input type="button" class="btn btn-info zoom" (click)="loginAdmin()" value="Volver"> -->
  </div>
</form>
</div>