.inp{background-color: #00549b}
.ver,.cancelar{
    color: white;
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    opacity: .8; 
    border-radius: 10px;
}
.zoom{        
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 2s,-o-transform 1s;
    }
.zoom:hover{ 
    transform : scale(1.2);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */
}
.form-cent{
    margin-left: 30%;
    text-align: center;
    width: 40%;
}