<div class="row">
	<div class="col-12 text-left">
		<a [routerLink]="['/categorias']" id="back">
			<i class="fas fa-less-than "></i>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<button type="button" id="add" (click)="openregcategoriaBlog(categoriablog.idCategoriablog,categoriablog.nombreCategoriablog,categoriablog.statusCategoriablog)" class="btn btn-success text-center">+</button>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-6 col-md-12 text-center">
		<h1>Categorias Blog</h1>
	</div>
	<div class="col-lg-6 col-md-12 text-left">
		<button mat-button class="volver zoom" [routerLink]="['/categorias']">Volver a Categorias</button>
	</div>
	<div class="col-lg-4 container" *ngFor="let categoriablog of categoriablog">
<mat-card class="card" [class.baja]="categoriablog.statusCategoriablog == '0'">
	<mat-card-content>
			<h5>
			Nombre de la Categoria: {{categoriablog.nombreCategoriablog}}
			</h5><br>		
	</mat-card-content>
	<mat-card-actions>
		<div class="text-center but">
				<button mat-button (click)="opencategoriaBlog(categoriablog.idCategoriablog,categoriablog.nombreCategoriablog)" class="ver zoom">Editar</button>
				<button mat-button (click)="elimCategoriablog(categoriablog.idCategoriablog)" class="cancelar text-center zoom" [class.des]="categoriablog.statusCategoriablog == '0'" [class.act]="categoriablog.statusCategoriablog == '1'">Desactivar</button>
				<button mat-button (click)="regreCategoriablog(categoriablog.idCategoriablog)" class="cancelar text-center zoom" [class.des]="categoriablog.statusCategoriablog == '1'" [class.act]="categoriablog.statusCategoriablog == '0'">Activar</button>
		</div>
	</mat-card-actions>
</mat-card>
<br>
</div>
</div>
