<div class="row text-center">
	<div class="col-lg-12 col-sm-12 ">
		<h1>Categorias</h1>
	</div>
	<div class="col-lg-3 container" >
		<mat-card [routerLink]="['/categorias/blog']" style="cursor: pointer;">Categorias Blog</mat-card>		
	</div>
	<div class="col-lg-3 container">
			<mat-card [routerLink]="['/categorias/servicios']" style="cursor: pointer;">Categorias Servicios</mat-card>		
	</div>
</div>
