<div class="row">
	<div class="col-12 text-left">
		<a [routerLink]="['/categorias']" id="back">
			<i class="fas fa-less-than "></i>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<button type="button" id="add" (click)="openregcategoriaSer(categoriaSer.idCategoriaservicio_Servicio,categoriaSer.nombreCategoriaservicio,categoriaSer.statusCategoriaservicio)" class="btn btn-success text-center">+</button>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-6 col-md-12 text-center">
		<h1>Categorias Servicios</h1>
	</div>
	<div class="col-lg-6 col-md-12 text-left">
		<button mat-button class="volver zoom" [routerLink]="['/categorias']">Volver a Categorias</button>
	</div>
	<div class="col-lg-4 container" *ngFor="let categoriaSer of categoriaSer">
<mat-card class="card" [class.baja]="categoriaSer.statusCategoriaservicio == '0'">
	<mat-card-content>
			<h5>
			Nombre de la Categoria: {{categoriaSer.nombreCategoriaservicio}}
			</h5><br>		
	</mat-card-content>
	<mat-card-actions>
		<div class="text-center but">
				<button mat-button (click)="opencategoriaSer(categoriaSer.idCategoriaservicio_Servicio,categoriaSer.nombreCategoriaservicio,categoriaSer.statusCategoriaservicio)" class="ver zoom">Editar</button>
				<button mat-button (click)="elimCategoriaser(categoriaSer.idCategoriaservicio_Servicio)" class="cancelar text-center zoom" [class.des]="categoriaSer.statusCategoriaservicio == '0'" [class.act]="categoriaSer.statusCategoriaservicio == '1'">Desactivar</button>
				<button mat-button (click)="regreCategoriaser(categoriaSer.idCategoriaservicio_Servicio)" class="cancelar text-center zoom" [class.des]="categoriaSer.statusCategoriaservicio == '1'" [class.act]="categoriaSer.statusCategoriaservicio == '0'">Activar</button>
		</div>
	</mat-card-actions>
</mat-card>
<br>
</div>
</div>