<div class="text-center">
	<p>
		<label>Nombre de Categoria:</label>
		<input matInput type="text" #name = 'ngModel' name="nombrenombreCategoriaservicio" [(ngModel)] = 'categoriaSer.nombreCategoriaservicio' class="form-control form-cent" required>
	</p>
	<button mat-button (click)="onEditClick()"  class="btn btn-primary ver">Actualizar</button>
</div>