<div class="row container">
  <div class="col-lg-4" *ngFor="let cliente_nuevo of cliente_nuevo">
  <mat-card class="card" [class.disable]="cliente_nuevo.statusProspectocita == '0'">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <p>
          Nombre: {{cliente_nuevo.nombreProspectocita}}
        </p>
        <p>
          Correo: {{cliente_nuevo.correoProspectocita}}
        </p>
        <p>
          Telefono: {{cliente_nuevo.telefonoProspectocita}}
        </p>
        <p>
          Compañia: {{cliente_nuevo.companiaProspectocita}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center but">
          <button mat-button (click)="opennuevosclientes(cliente_nuevo.idProspectocita,cliente_nuevo.nombreProspectocita,cliente_nuevo.correoProspectocita,cliente_nuevo.companiaProspectocita,cliente_nuevo.telefonoProspectocita,cliente_nuevo.fechaProspectocita,cliente_nuevo.comentariosProspectocita,cliente_nuevo.statusProspectocita)" class="ver zoom" id="btn1">Ver Más</button>
          <button mat-button (click)="elimnuevoCliente(cliente_nuevo.idProspectocita)" class="cancelar text-center zoom" [class.des]="cliente_nuevo.statusProspectocita == '0'" [class.act]="cliente_nuevo.statusProspectocita == '1'">Desactivar
          </button>
          <button mat-button (click)="regrenuevoCliente(cliente_nuevo.idProspectocita)" class="cancelar text-center zoom" [class.des]="cliente_nuevo.statusProspectocita == '1'" [class.act]="cliente_nuevo.statusProspectocita == '0'">Activar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>