<h1 mat-dialog-title align="center">Datos Nuevo Cliente</h1>
<div mat-dialog-content class="text-center">
  <div class="container">
			<p>
				<label>Nombre Cliente: {{data.nombreProspectocita}}</label>				
			</p>
			<p>
				<label>Correo Electronico: {{data.correoProspectocita}}</label>		
			</p>
			<p>
				<label>Compañia Cliente: {{data.companiaProspectocita}}</label>				
			</p>	
			<p>
				<label>Telefono: {{data.telefonoProspectocita}}</label>
			</p>	
			<p>
				<label>Fecha: {{data.fechaProspectocita}}</label>
			</p>
			<p>
				<label>Comentarios: {{data.comentariosProspectocita}}</label>
			</p>		
	</div>
</div>
<div class="text-center button">
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()" class="cancelar zoom">Volver</button>
</div>
</div>