.ocul{
	display: none;
}
.block1{
	overflow: hidden;
	text-align: left;
}
.block1 img{
	width: 100%;
	height: 100%;
}

.block1 a{
	font-size: 180px;
}
#colorA{
	color: #00549b;
}
#vector{
	opacity: 0.7;
}



.blockC{
	display: none;
}

.overflow{
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	width: 100%;
}

.sepprin{
	width: 75%;
	border: 1px solid #D3CCCC;
}

.contenido{
	margin-left: 12%;
}
.contenido img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.info{
	width: 70%;
	flex-basis: 70%;
}
.info p{
	-webkit-line-clamp: 3;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}
.azul{
	background-color: #0e408f;
	margin-top: 10%;
}
.negro{
	background-color: #0c2232;
	margin-top: 10%;
}
.fecha label{
	margin-left: 12%;
}


@media all and (min-width: 1024px) and (max-width: 1450px) { 
	.block1 a{
		font-size: 100px;
	}
	.ocultaCats{
			display: none;
		}
}

/*@media all and (min-width: 768px) and (max-width: 1024px) {

	}*/
	@media all and (min-width: 1450px) and (max-width: 1536px) {
		.block1 a{
			font-size: 130px;
		}
		.ocultaCats{
			display: none;
		}
	}

	@media all and (min-width: 768px) and (max-width: 1023px) {
		.oculta{
			display: none;
		}
		.ocultaCats{
			display: none;
		}
		.block1{
			display: none;
		}
		.blockC{
			display: inline-block;
		}
		.blockC img{
			width: 100%;
			height: 100%;
			margin-top: -20px;
			margin-left: -50px;
		}
		.blockC a{
			font-size: 80px; 
			position: absolute; 
			margin-left: -50px
		}
		
		
		
	}

	@media all and (min-width: 480px) and (max-width: 767px) {
		.oculta{
			display: none;
		}
		.ocultaCats{
			display: none;
		}
		.block1{
			display: none;
		}
		.blockC{
			display: inline-block;
		}
		.blockC img{
			width: 100%;
			height: 100%;
			margin-top: -20px;
			margin-left: -50px;
		}
		.blockC a{
			font-size: 40px; 
			position: absolute; 
			margin-left: -50px
		}
		.contain{
			width: 100%;
		}
		.contenido {
			width: 90% !important;
		}


	
	}

	@media all and (max-width: 480px) {

		.oculta{
			display: none;
		}
		.ocultaCats{
			display: block;
		}
		.block1{
			display: none;
		}
		.blockC{
			display: inline-block;
        }
        
        .blockC img{
			width: 100%;
			height: 100%;
			margin-top: -20px;
			margin-left: -50px;
		}
		.blockC a{
			font-size: 40px; 
			position: absolute; 
			margin-left: -50px
		}

		.overflow{
			overflow: scroll;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			height: 450px;
		}
		.contenido img{
			width: 90%;
		}
	}


	/* Portrait */
	@media screen and (orientation:portrait) {

	}
	/* Landscape */
	@media screen and (orientation:landscape) {

	}


	/* CSS for iPhone, iPad, and Retina Displays */

	/* Non-Retina */
	@media screen and (-webkit-max-device-pixel-ratio: 1) {

	}

	/* Retina */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	}

	/* iPhone Portrait */
	@media screen and (max-device-width: 480px) and (orientation:portrait) {

	} 

	/* iPhone Landscape */
	@media screen and (max-device-width: 480px) and (orientation:landscape) {

	}

	/* iPad Portrait */
	@media screen and (min-device-width: 481px) and (orientation:portrait) {

	}

	/* iPad Landscape */
	@media screen and (min-device-width: 481px) and (orientation:landscape) {

	}



	@media (min-width: 481px) and (max-width: 767px) {

		

	}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

  	
  }
