<app-menu></app-menu>
<div class="col-md-12"> <br><br></div>
<div class="col-md-12 block1">
    <div class="row">
        <div class="col-md-4">
            <img id="vector" src="../../assets/imgs/vector2.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a id="colorA">BLOG</a>
        </div>
    </div>
</div>
<div class="col-12 blockC">
    <div class="row">
        <div class="col-6" style="text-align: left;">
            <img src="../../assets/imgs/vector2.png">
        </div>
        <div class="col-6" style="text-align: left;">
            <br>
            <br>
            <br>
            <a id="colorA">BLOG</a>
        </div>
    </div>
</div>
<div class="col-md-12" style="text-align: center;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p style="font-size: 30px">Lo más actualizado en servicios administrados, negocios, proyectos, aplicaciones, marketing digital, estrategia
                y educación</p>
        </div>
        <div class="col-md-1"></div>
        <div class="text-center ocultaCats">
            <mat-form-field>
                  <mat-label>Categorías</mat-label>
                  <mat-select  name="cliente" name="cliente" (selectionChange)="filtrarCat($event.value)">
                    <mat-option [routerLink]="['/blog/']">Todo</mat-option>
                    <mat-option *ngFor="let CatBlog of CatBlog" [value]="CatBlog.idCategoriablog">
                      {{CatBlog.nombreCategoriablog}}
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="clienteFormControl.hasError('required')">
                        El cliente es <strong>necesario</strong>
                      </mat-error> -->
                </mat-form-field>
            <!-- <select>
                <option [routerLink]="['/blog/']" (click)="getNoticias()">Todos</option>
                <option *ngFor="let CatBlog of CatBlog" (selectionChange)="['/blog/'+CatBlog.idCategoriablog]">{{CatBlog.nombreCategoriablog}}</option>
            </select> -->
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-10 shown">
            <div class="col-md-12">
                <div class="row">
                    <div class="overflow" id="respuesta">
                        <hr class="sepprin" />
                        <div class="container" *ngFor="let Noticias of Noticias">
                            <div>
                                <div class="fecha" >
                                    <label id="fechas">{{Noticias.fechaNoticiablog}}</label>
                                </div>
                                <div class="contenido row">
                                    <div class="col-lg-2 col-sm-12">
                                        <a [routerLink]="['/blog/'+Noticias.idNoticiablog+'/'+Noticias.idCategoriablog_Noticiablog+'/'+Noticias.tituloNoticiablog]" (click)="mostrarNoticia()" class="ref notbut"><img src="{{url+ '/getImageFileB/' + Noticias.imagenNoticiablog}}" class="img-fluid img-le"></a>
                                    </div>
                                    <div class="col-lg-10 info">
                                        <a [routerLink]="['/blog/'+Noticias.idNoticiablog+'/'+Noticias.idCategoriablog_Noticiablog+'/'+Noticias.tituloNoticiablog]" class="notbut"><h3>{{Noticias.tituloNoticiablog}}</h3></a>
                                        <p class="texto">
                                        {{Noticias.descripcionNoticiablog}}
                                        </p>
                                    </div>

                                </div>
                                <hr class="sepprin">
                            </div>
                        </div> 
                        <div class="container" *ngFor="let Noticias of Noticia">
                            <div>
                                <div class="fecha" >
                                    <label id="fechas">{{Noticias.fechaNoticiablog}}</label>
                                </div>
                                <div class="contenido row">
                                    <div class="col-lg-2 col-sm-12">
                                        <a [routerLink]="['/blog/'+Noticias.idNoticiablog+'/'+Noticias.idCategoriablog_Noticiablog+'/'+Noticias.tituloNoticiablog]" (click)="mostrarNoticia()" class="ref notbut"><img src="{{url+ '/getImageFileB/' + Noticias.imagenNoticiablog}}" class="img-fluid img-le"></a>
                                    </div>
                                    <div class="col-lg-10 info">
                                        <a [routerLink]="['/blog/'+Noticias.idNoticiablog+'/'+Noticias.idCategoriablog_Noticiablog+'/'+Noticias.tituloNoticiablog]" class="notbut"><h3>{{Noticias.tituloNoticiablog}}</h3></a>
                                        <p class="texto">
                                        {{Noticias.descripcionNoticiablog}}
                                        </p>
                                    </div>

                                </div>
                                <hr class="sepprin">
                            </div>
                        </div>                                            
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-md-2 oculta">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                        <a id="colorA" style="font-size: 30px ">CATEGORIAS</a>
                    </div><br><br>
                    <div class="col-md-12">
                        <button name="todo" style="background-color: #0c2232; color: white" class="btn btn-primary form-control filtro" [routerLink]="['/blog/']" (click)="getNoticias()">Todos</button>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <button name="{{CatBlog.nombreCategoriablog}}" style="color: white" class="btn btn-primary form-control filtro" id="{{CatBlog.idCategoriablog}}" [routerLink]="['/blog/'+CatBlog.idCategoriablog]"  *ngFor="let CatBlog of CatBlog;let impar = odd;let par = even;" [ngClass]="{azul:par,negro:impar}">{{CatBlog.nombreCategoriablog}}</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <br>
</div>
<app-footer></app-footer>