#clientes {
    display: none;
}

#equipo {
    display: none;
}

.contenedorGlobal {
    width: 100%;
}

.title {
    margin: 700px;
    color: #00549b;
    font-size: 50px;
    font-weight: bold;
}

.title2 {
    margin-top: 30px;
    margin-right: 100px;
    float: right;
    color: #00549b;
    font-size: 60px;
    font-weight: bold;
}

.block1 {
    overflow: hidden;
    text-align: left;
}

.block1 img {
    width: 100%;
    height: 100%;
}

.block1 a {
    font-size: 180px;
}

.clientes:hover {
    opacity: 0.5;
}


/*====================================
=            Div clientes            =
====================================*/

#clientes {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: url("../../../assets/imgs/bkg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
}

#logo {
    text-align: center;
}

#logo img {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

#serviciocliente {
    margin-top: 120px;
}

#servicio a {
    font-size: 25px;
    font-weight: bold;
    color: #00549b;
}


/*=====  End of Div clientes  ======*/

#colorA1 {
    color: #00549b;
    font-size: 100px;
}

#colorA {
    color: #00549b;
}

#vector {
    opacity: 0.7;
}

.MV {
    text-align: center;
}

.MV p {
    font-size: 25px;
}

#block2 {
    text-align: center;
    background: url("../../../assets/imgs/edificios.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.frase {
    color: #0b2d42;
}

.frase a {
    font-size: 50px;
}

.frase p {
    color: #00549b;
    font-size: 30px
}

.frase img {
    height: 10%;
    width: 15%;
}

.equipo img {
    width: 100%;
    height: 100%;
}

.linked-in {
    text-align: center;
}

.linked-in:hover {
    opacity: 0.5;
    cursor: pointer;
}

.equipo-frase {
    font-size: 20px;
}

#equipo {
    overflow: scroll;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: url("https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
}

#equipo {
    color: #0b2d42;
}

#equipo a {
    font-size: 20px;
}

#equipo p {
    color: #00549b;
}

#color2 {
    color: #00549b;
    font-size: 70px;
}

.block2 img {
    height: 100%;
    width: 100%;
}

.valores strong {
    font-size: 150px;
    color: #0b2d42;
}

.valores p {
    color: #1853a3;
    font-size: 20px
}

.block2 p {
    color: #00549b;
    font-weight: bold;
    margin-left: 200px;
    width: 50%;
    text-align: justify;
}

.imagen1 {
    width: 100%;
    height: 90%;
}

.footer {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
    background-color: #0b2d42;
    color: #fff;
}

.fotoEquipo {
    width: 100%;
    height: 100%
}

.blockC {
    display: none;
}

.misionC {
    display: none;
}

.iram img {
    width: 100%;
    height: 100%;
}

.footer2 {
    display: none;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1450px) {
    .block1 a {
        font-size: 100px;
    }
    .imagen1 {
        width: 100%;
        height: 100%;
    }
    .iram img {
        width: 100%;
        height: 100%;
    }
    .frase {
        color: #0b2d42;
    }
    .frase a {
        font-size: 20px;
    }
    .frase p {
        color: #00549b;
        font-size: 20px
    }
    .frase img {
        height: 10%;
        width: 15%;
    }
    #colorA1 {
        font-size: 40px;
    }
    .MV p {
        font-size: 20px;
    }
    #color2 {
        font-size: 40px;
    }
    .valores strong {
        font-size: 60px;
    }
    .valores p {
        color: #1853a3;
        font-size: 15px
    }
    #equipo {
        /*text-align: center;
		position: fixed;
	    top: 1%;
	    left: 1%;
	    height: 97%;
	    width: 70%;
	    margin-top: 40px; 
	    margin-left: 200px; 
	    border: 1px solid transparent;
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		z-index: 1;*/
    }
    #clientes {
        /*position: fixed;
	    top: 50%;
	    left: 50%;
	    height: 80%;
   		width: 100%;
	    margin-top: -18em; 
	    margin-left: -31em; 
	    border: 1px solid transparent;
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		z-index: 1;*/
    }
}

@media all and (min-width: 1450px) and (max-width: 1540px) {
    .block1 a {
        font-size: 130px;
    }
    .fotoEquipo {
        width: 100%;
        height: 10%
    }
    .imagen1 {
        width: 100%;
        height: 100%;
    }
    .iram img {
        width: 100%;
        height: 100%;
    }
    #colorA1 {
        font-size: 50px;
    }
    .MV p {
        font-size: 23px;
    }
    #color2 {
        font-size: 50px;
    }
    .frase {
        color: #0b2d42;
    }
    .frase a {
        font-size: 30px;
    }
    .frase p {
        color: #00549b;
        font-size: 20px
    }
    .frase img {
        height: 10%;
        width: 15%;
    }
    #equipo {
        /*text-align: center;
		position: fixed;
	    top: 1%;
	    left: 1%;
	    height: 100%;
	    width: 70%;
	    margin-top: 40px; 
	    margin-left: 200px; 
	    border: 1px solid transparent;
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		z-index: 1;*/
    }
    #clientes {
        /*position: fixed;
	    top: 50%;
	    left: 50%;
	    height: 60%;
    	width: 100%;
	    margin-top: -18em; 
	    margin-left: -31em; 
	    border: 1px solid transparent;
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		z-index: 1;*/
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .block1 {
        display: none;
    }
    .blockC {
        display: inline-block;
    }
    .blockC img {
        width: 100%;
        height: 100%;
        margin-top: -20px;
        margin-left: -50px;
    }
    .blockC a {
        font-size: 80px;
        position: absolute;
        margin-left: -50px
    }
    .imagen1 {
        display: none;
    }
    #btnEquipo2 {
        height: 50%;
        width: 50%;
    }
    /*#colorA{
		font-size: 10px
		}*/
    .misionN {
        display: none;
    }
    .misionC {
        display: inline-block;
    }
    .valores strong {
        font-size: 30px;
        color: #0b2d42;
    }
    .valores p {
        color: #1853a3;
        font-size: 15px
    }
    .equipoimg {
        width: 100%;
        height: 100%;
    }
    #btnCerrar {
        display: scroll;
        position: fixed;
        z-index: 1;
    }
    .frase a {
        font-size: 50px;
    }
    .frase p {
        color: #00549b;
        font-size: 30px
    }
    .frase img {
        height: 25%;
        width: 15%;
    }
    .footer {
        display: none;
    }
    .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
    }
    #clientes {
        /*position: fixed;
	    top: 1%;
	    left: 1%;
	    height: 50%;
	    width: 100%;
	    margin-top: 0; 
	    margin-left: -4px; 
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border: 1px solid transparent;
		background-size: cover;
		z-index: 1;*/
    }
    #logo img {
        width: 35%;
    }
    #servicio a {
        font-size: 20px;
        font-weight: bold;
        color: #00549b;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .block1 {
        display: none;
    }
    .blockC {
        display: inline-block;
    }
    .blockC img {
        width: 100%;
        height: 100%;
        margin-top: -20px;
        margin-left: -50px;
    }
    .blockC a {
        font-size: 40px;
        position: absolute;
        margin-left: -50px
    }
    .imagen1 {
        display: none;
    }
    /*#colorA{
		font-size: 10px
		}*/
    .misionN {
        display: none;
    }
    .misionC {
        display: inline-block;
    }
    .valores strong {
        font-size: 30px;
        color: #0b2d42;
    }
    .valores p {
        color: #1853a3;
        font-size: 15px
    }
    #equipo {
        /*overflow:scroll;
		text-align: center;
		position: fixed;
	    top: 1%;
	    left: 1%;
	    height: 100%;
	    width: 100%;
	    margin-top: -4px; 
	    margin-left: -4px;
	    border: 1px solid transparent;
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		z-index: 1;*/
    }
    #equipo {
        /*color: #0b2d42;*/
    }
    #equipo a {
        /*font-size: 25px;*/
    }
    #equipo p {
        /*color: #00549b;*/
    }
    #btnCerrar {
        display: scroll;
        position: fixed;
        z-index: 1;
    }
    .frase a {
        font-size: 30px;
    }
    .frase p {
        color: #00549b;
        font-size: 18px
    }
    .frase img {
        height: 25%;
        width: 15%;
    }
    .footer {
        display: none;
    }
    .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
    }
    #clientes {
        /*position: fixed;
	    top: 1%;
	    left: 1%;
	    height: 50%;
	    width: 100%;
	    margin-top: 0; 
	    margin-left: -4px; 
	    background: url("../img/bkg.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border: 1px solid transparent;
		background-size: cover;
		z-index: 1;*/
    }
    #logo img {
        width: 35%;
    }
    #servicio a {
        font-size: 20px;
        font-weight: bold;
        color: #00549b;
    }
    #btnEquipo2 {
        height: 100%;
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .block1 {
        display: none;
    }
    .blockC {
        display: inline-block;
    }
    .blockC img {
        width: 120%;
        height: 100%;
        margin-top: -20px;
        margin-left: -50px;
    }
    .blockC a {
        font-size: 40px;
        position: absolute;
        margin-left: -50px
    }
    .imagen1 {
        display: none;
    }
    .misionN {
        display: none;
    }
    .misionC {
        display: inline-block;
    }
    .valores strong {
        font-size: 30px;
        color: #0b2d42;
    }
    .valores p {
        color: #1853a3;
        font-size: 15px
    }
    .equipo img {
        width: 40%;
        height: 100%;
    }
    #btnEquipo2 {
        height: 100%;
        width: 100%;
    }
    .equipo img:hover {
        opacity: 0.5;
    }
    #equipo {
        overflow: scroll;
        /*text-align: center;*/
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        /*height: 100%;
	    width: 100%;*/
        /*margin-top: -4px; 
	    margin-left: -4px; */
        background: url("https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg");
        background-repeat: no-repeat;
        background-position: 60% 60%;
        background-size: cover;
        z-index: 1;
    }
    #equipo {
        color: #0b2d42;
    }
    #equipo a {
        font-size: 25px;
    }
    #equipo p {
        color: #00549b;
    }
    .iram img {
        width: 80%;
        height: 100%;
    }
    #btnCerrar {
        display: scroll;
        position: fixed;
        z-index: 1;
    }
    .frase a {
        font-size: 30px;
    }
    .frase p {
        color: #00549b;
        font-size: 18px
    }
    .frase img {
        height: 25%;
        width: 15%;
    }
    .footer {
        display: none;
    }
    .footer a {
        text-decoration: none;
    }
    .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
    }
    #clientes {
        position: fixed;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background: url("../../../assets/imgs/bkg.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        z-index: 1;
    }
    #logo img {
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }
    #serviciocliente {
        margin-top: 10px;
    }
}


/* Portrait */

@media screen and (orientation:portrait) {}


/* Landscape */

@media screen and (orientation:landscape) {}


/* CSS for iPhone, iPad, and Retina Displays */


/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}


/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation:portrait) {}


/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation:landscape) {}


/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation:portrait) {}


/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation:landscape) {}