<app-menu></app-menu>
<!--===============================
=            Seccion 1            =
================================-->
<div class="col-md-12">
    <br>
    <br>
</div>
<div class="col-md-12 block1">
    <div class="row">
        <div class="col-md-4">
            <img id="vector" src="../../assets/imgs/vector.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a id="colorA">PRODUCTOS</a>
        </div>
    </div>
</div>
<div class="col-12 blockC">
    <div class="row">
        <div class="col-6" style="text-align: left;">
            <img src="../../assets/imgs/vector2.png">
        </div>
        <div class="col-6" style="text-align: left;">
            <br>
            <br>
            <br>
            <a id="colorA">PRODUCTOS</a>
        </div>
    </div>
</div>
<!--====  End of Seccion 1  ====-->
<app-footer></app-footer>