<!-- <app-agenda class="agenda"></app-agenda> -->
<div class="flotador" id="floato">
    <img src="../../assets/imgs/icono agendar cita.png" class="calendarIcon" (click)="openContacto()">
</div>
<div id="floato2">
    <img class="flotador2" src="../../assets/imgs/icono agendar cita.png" (click)="openContacto()">
</div>
<router-outlet></router-outlet>