    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left;position: absolute;z-index: 5;top:0;left: -3%;">
        <div id="btncerrarcliente">
            <i class="fas fa-times fa-2x" (click)="onNoClick()"></i>
        </div>
    </div>
<div class="container" id="agenda">
    <div id="cita" class="col-md-12">
        <a id="titulo">Agenda tú Cita</a>
    </div>
    <div class="col-md-12">
        <br>
        <br>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="nombre" #name = 'ngModel' name="nombreProspectocita" [(ngModel)] = 'prospecto.nombreProspectocita' class="form-control" placeholder="Nombre" onkeypress="return validatext(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="email" id="email" #email = 'ngModel' name="correoProspectocita" [(ngModel)] = 'prospecto.correoProspectocita' class="form-control" placeholder="Email" onkeypress="return validaemail(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="compania" #compania = 'ngModel' name="companiaProspectocita" [(ngModel)] = 'prospecto.companiaProspectocita' class="form-control" placeholder="Compañia" onkeypress="return validacom(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="tel" id="telefono" #telefono = 'ngModel' name="telefonoProspectocita" [(ngModel)] = 'prospecto.telefonoProspectocita' class="form-control" placeholder="Teléfono" onkeypress="return validatel(event)" maxlength="13" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="comentarios" #comentarios = 'ngModel' name="comentariosProspectocita"     [(ngModel)] = 'prospecto.comentariosProspectocita' class="form-control" placeholder="Comentarios" onkeypress="return validacom(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1 text-center">
                        <button id="enviar" (click)="onSubmitRegister()" >Enviar</button>                            
                    </div>
                   <div *ngIf='alertRegister' class="col-md-12 text-center">
                          <div class="alert alert-info" role="alert">
                            {{alertRegister}}
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img id="compu" src="../../assets/imgs/computadora.png">
            </div>
        </div>
    </div>
</div>

<div class="col-12" id="agenda2" style="text-align: center; background-color: #edeaea">
    <div class="row">
        <div class="col-12">
            <a style="color:#00549b;font-size: 30px">Agenda tú Cita</a>
        </div>
        <div class="row">            
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="nombre" #name = 'ngModel' name="nombreProspectocita" [(ngModel)] = 'prospecto.nombreProspectocita' class="form-control" placeholder="Nombre">
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="email" #email = 'ngModel' name="correoProspectocita" [(ngModel)] = 'prospecto.correoProspectocita' class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="compania" #compania = 'ngModel' name="companiaProspectocita" [(ngModel)] = 'prospecto.companiaProspectocita' class="form-control" placeholder="Compañia">
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="tel" id="telefono" #telefono = 'ngModel' name="telefonoProspectocita" [(ngModel)] = 'prospecto.telefonoProspectocita' class="form-control" placeholder="Teléfono">
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="comentarios" #comentarios = 'ngModel' name="comentariosProspectocita"     [(ngModel)] = 'prospecto.comentariosProspectocita' class="form-control" placeholder="Comentarios">
                    </div>
                    <div class="col-md-12 contenedor1">
                        <button id="enviar" (click)="onSubmitRegister()" >Enviar</button>                            
                    </div>
                   <div *ngIf='alertRegister' class="col-md-12 text-center">
                          <div class="alert alert-info" role="alert">
                            {{alertRegister}}
                          </div>
                    </div>
                </div>
        <br>
        <br>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <button class="btn" id="enviar2" style="background-color: #0b2d42; color: white; width:100%">Enviar</button>
                </div>
                <div class="col-6">
                    <button class="btn" id="cancelar2" style="background-color: #0b2d42; color: white; width:100%">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <br>
        </div>
    </div>
</div>