.hide {
  visibility: hidden;
  width: 0;
 /* position: relative;*/
  margin-right: 10%;
}
.hide::before{
  content: 'Subir Curriculum';
  display: inline-block;
  background-color: #007bff; 
  border: 1px solid #007bff;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
  color: white; 
}
.hide:hover::before{
	background-color: #0069d9;
	border: 1px solid #0069d9;
}
#info{
	display: none;
	font-weight: bold;
}
.back{
	text-align: center;
	background: url("../../../assets/imgs/edificios.png");
	background-repeat: no-repeat;
    background-position: 50% 50%; 
	background-size: cover;
}
#colorA{
	color: #00549b;
}
.centrado{
	text-align: center;
}
.titulo a{
	font-size: 100px;
}
.leyenda p{
	font-size: 25px;
}
.footer{
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 170px;
	background-color: #0b2d42;
	color: #fff;
}
.footer2{
	display: none;
}
input[type=text], input[type=email],input[type=tel]{
  color: #0b2d42;
  font-size: 25px;
  background-color: #fff;
    padding: 10px 50px;
    margin: 12px;
    border: 1px solid #00549b;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea[type=text]{
  color: #0b2d42;
  font-size: 25px;
  background-color: #fff;
    padding: 10px 50px;
    margin: 12px;
    border: 1px solid #00549b;
    border-radius: 10px;
    box-sizing: border-box;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) { 
}

/*@media all and (min-width: 768px) and (max-width: 1024px) {

}*/

@media all and (min-width: 768px) and (max-width: 1440px) {
	
}

@media all and (min-width: 480px) and (max-width: 846px) {

	.footer{
		display: none;
	}

	.footer2 {
		display: inline-block;
		background: #0b2d42;
		color: white;
		text-align: center;
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	.titulo a{
		font-size: 50px;
	}
	.leyenda p{
		font-size: 20px;
	}
	.footer{
		display: none;
	}

	.footer2 {
		display: inline-block;
		background: #0b2d42;
		color: white;
		text-align: center;
		width: 100%;
	}
	.hide{
		margin-right: 28%;
	}
	
}


/* Portrait */
@media screen and (orientation:portrait) {

}
/* Landscape */
@media screen and (orientation:landscape) {

}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}

  

@media (min-width: 481px) and (max-width: 767px) {
  
 
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}
