<app-menu></app-menu>
<div class="back">
    <div class="col-md-12">
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="col-md-12 titulo centrado">
            <a id="colorA">BUSQUEDA DE TALENTO</a>
        </div>
        <div class="col-md-12 leyenda centrado">
            <p>Somos un equipo de personas dedicadas desde hace mas de 18 años, a ofrecer soluciones de negocio como una empresa
                encaminada a satisfacer las necesidades de los clientes y apoyarlos a resolver sus problemas.</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="text-align: center;">
                    <div class="row">
                        <div class="col-md-12">
                            <input title="Se necesita un nombre" name="nombre" #name = 'ngModel' name="nombreAspirante" [(ngModel)] = 'aspirante.nombreAspirante' required id="nombreAspirante" class="form-control text-center" type="text" placeholder="Nombre Completo" onkeypress="return validatext(event)">
                        </div>
                        <div class="col-md-12">
                            <input pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="email" #email = 'ngModel' name="correoAspirante" [(ngModel)] = 'aspirante.correoAspirante' required id="email" class="form-control text-center"
                                type="email" placeholder="Email" onkeypress="return validaemail(event)">
                        </div>
                        <div class="col-md-12">
                            <textarea title="Se necesita una ocupación" name="ocupacion" #ocupacion = 'ngModel' name="ocupacionAspirante" [(ngModel)] = 'aspirante.ocupacionAspirante' required id="ocupacion" class="form-control text-center" type="text" placeholder="Ocupación" onkeypress="return validatext(event)"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input title="Se necesita un telefono" name="telefono" #telefono = 'ngModel' name="telefonoAspirante" [(ngModel)] = 'aspirante.telefonoAspirante' required id="telefono" id="telefono" class="form-control text-center" type="tel"
                                placeholder="Teléfono" onkeypress="return validatel(event)" maxlength="13">
                        </div>
                        <div class="col-md-12">
                            <!-- <input title="Se necesita un Comentario" name="comentarios" required id="comentarios" id="comentarios" class="form-control"
                                type="text" placeholder="Comentarios"> -->
                                <input type="file" accept=".doc, .docx, .pdf" placeholder="Sube tu curriculum..." class="hide" id="files" (change)='fileChangeEvent($event)' style="margin-bottom: 10px">
                                <label id="info"></label>
                        </div><br>
                        <div class="col-md-12" style="text-align: center;">
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="enviar" class="btn btn-primary btn-lg" style="width: 55%; margin-left: 3%" (click)='onSubmitRegister()'>Enviar</button>
                                </div>
                            </div>
                        </div><br>
                        <div *ngIf='alertRegister' class="col-md-12 text-center">
                          <div class="alert alert-info" role="alert">
                            {{alertRegister}}
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <br>
    </div>
    <app-footer></app-footer>
</div>