/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face{
	font-family: 'Champagne & Limousines';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/css/font/Champagne\ &\ Limousines.woff') format('woff');
}

.fuente{
	font-family: 'Champagne & Limousines';
}