<app-menu></app-menu>
<div class="col-md-12">
    <br>
    <br>
</div>
<div class="col-md-12 block1">
    <div class="row">
        <div class="col-md-4">
            <img id="vector" src="../../assets/imgs/vector2.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a id="colorA">CONTACTO</a>
        </div>
    </div>
</div>
<div class="col-12 blockC">
    <div class="row">
        <div class="col-6" style="text-align: left;">
            <img src="../../assets/imgs/vector2.png">
        </div>
        <div class="col-6" style="text-align: left;">
            <br>
            <br>
            <br>
            <a id="colorA">CONTACTO</a>
        </div>
    </div>
</div>

<div class="col-md-12 col-12 col-xs-12 col-sm-12 contactos" style="text-align: center;">
    <div class="row">
        <div class="col-md-4 col-4 col-xs-4 col-sm-4">
            <a href="https://goo.gl/maps/fXZMbjqdz5E2">
                <img class="imageLogos" src="../../assets/imgs/ubicacion.png">
            </a>
            <br>
            <a href="https://goo.gl/maps/fXZMbjqdz5E2">Llegar</a>
        </div>
        <div class="col-md-4 col-4 col-xs-4 col-sm-4">
            <a href="tel:5583096632">
                <img class="imageLogos" src="../../assets/imgs/telefono.png" alt="">
            </a>
            <br>
            <a href="tel:5583096632">5583096632</a>
        </div>
        <div class="col-md-4 col-4 col-xs-4 col-sm-4">
            <a href="mailto:contacto@cihumana.com.mx">
                <img class="imageLogos" src="../../assets/imgs/correo.png"> </a>
            <br>
            <a href="mailto:contacto@cihumana.com.mx">contacto@
                <br id="br">cihumana.com.mx</a>
        </div>
    </div>
</div>
<!-- <div id="mapa">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.6562783505424!2d-99.16747438490617!3d19.427251686887395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff35ca3ae62d%3A0xf814134910209055!2sConsultor%C3%ADa+Inform%C3%A1tica+Humana%2C+S.C.!5e0!3m2!1ses-419!2smx!4v1524022677023" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div><br> -->
<div class="col-md-12 formularioContacto">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/imgs/edifcio.jpg" style="width: 100%;height: 100%">
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="col-md-12"></div>
                <div class="col-md-12 contenedor1">
                    <a style="color:#00549b">CONTÁCTANOS</a>
                </div>
                <div class="row">
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="nombre" #name = 'ngModel' name="nombreProspectocita" [(ngModel)] = 'prospecto.nombreProspectocita' class="form-control" placeholder="Nombre" onkeypress="return validatext(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="email" id="email" #email = 'ngModel' name="correoProspectocita" [(ngModel)] = 'prospecto.correoProspectocita' class="form-control" placeholder="Email" onkeypress="return validaemail(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="compania" #compania = 'ngModel' name="companiaProspectocita" [(ngModel)] = 'prospecto.companiaProspectocita' class="form-control" placeholder="Compañia" onkeypress="return validacom(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="tel" id="telefono" #telefono = 'ngModel' name="telefonoProspectocita" [(ngModel)] = 'prospecto.telefonoProspectocita' class="form-control" placeholder="Teléfono" onkeypress="return validatel(event)" maxlength="13" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <input type="text" id="comentarios" #comentarios = 'ngModel' name="comentariosProspectocita"     [(ngModel)] = 'prospecto.comentariosProspectocita' class="form-control" placeholder="Comentarios" onkeypress="return validacom(event)" required>
                    </div>
                    <div class="col-md-12 contenedor1">
                        <button style="cursor: pointer;" id="enviar" (click)="onSubmitRegister()" >Enviar</button>                            
                    </div>
                   <div *ngIf='alertRegister' class="col-md-12 text-center">
                          <div class="alert alert-info" role="alert">
                            {{alertRegister}}
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 formularioC" style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <a style="color:#00549b;font-size: 30px">CONTÁCTANOS</a>
        </div>
        <div class="col-md-12 contenedor1" >
            <input type="text" id="nombre" #name = 'ngModel' name="nombreProspectocita" [(ngModel)] = 'prospecto.nombreProspectocita' class="form-control" placeholder="Nombre" onkeypress="return validatext(event)" required>
        </div>
        <br>
        <br>
        <div class="col-md-12 contenedor1">
            <input type="email" id="email2" #email = 'ngModel' name="correoProspectocita" [(ngModel)] = 'prospecto.correoProspectocita' class="form-control" placeholder="Email" onkeypress="return validaemail(event)" required>
        </div>
        <br>
        <br> 
        <div class="col-md-12 contenedor1 ">
            <input type="text" id="compania2" #compania = 'ngModel' name="companiaProspectocita" [(ngModel)] = 'prospecto.companiaProspectocita' class="form-control" placeholder="Compañia" onkeypress="return validatext(event)" required>
        </div>
        <br>
        <br>
        <div class="col-md-12 contenedor1">
            <input type="tel" id="telefono" #telefono = 'ngModel' name="telefonoProspectocita" [(ngModel)] = 'prospecto.telefonoProspectocita' class="form-control" placeholder="Teléfono" onkeypress="return validatel(event)" maxlength="13" required>
        </div>
        <br>
        <br>
        <div class="col-md-12 contenedor1">
            <input type="text" id="comentarios" #comentarios = 'ngModel' name="comentariosProspectocita"     [(ngModel)] = 'prospecto.comentariosProspectocita' class="form-control" placeholder="Comentarios" onkeypress="return validatext(event)" required>
        </div>
        <br>
        <br>
        <div class="col-md-12" contenedor1>
            <button class="btn form-control" style="background-color: #0b2d42; color: white" id="enviar2" (click)="onSubmitRegister()">Enviar</button><br>
            <div *ngIf='alertRegister'>
                <div class="alert alert-info" role="alert">
                    {{alertRegister}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-md-12 contenedor1">
    <div class="row">
        <div class="col-md-12">
            <a id="colorA">Encuentranos aquí</a>
        </div>
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.6562783505424!2d-99.16747438490617!3d19.427251686887395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff35ca3ae62d%3A0xf814134910209055!2sConsultor%C3%ADa+Inform%C3%A1tica+Humana%2C+S.C.!5e0!3m2!1ses-419!2smx!4v1524022677023"
                style="height: 100%; width: 100%;" frameborder="0"  allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="col-md-12">
    <br>
</div>
<div class="col-12 escritorio">
    <div class="row text-center">
        <div class="col">
            <a href="https://goo.gl/maps/GPK5dgPQMNukJiDe8">
            <img src="../../assets/imgs/Nuevo laredo.png" style="width: 100%;height: 100%"></a>
        </div>
        <div class="col">
            <a href="https://goo.gl/maps/fXZMbjqdz5E2">
            <img src="../../assets/imgs/cdmx.png" style="width: 100%;height: 105%"></a>
        </div>
        <div class="col">
            <a href="https://goo.gl/maps/puB7mnXEw2gBsd4s6">
            <img src="../../assets/imgs/Tepotzotlan.png" style="width: 100%;height: 100%"></a>
        </div>
        <div class="col">
            <img src="../../assets/imgs/DURANGO.png" style="width: 100%;height: 107%">
        </div>
        <div class="col">
            <a href="https://goo.gl/maps/hLJs6p18jaLHgjFy9">
            <img src="../../assets/imgs/Roma.png" style="width: 100%;height: 98%"></a>
        </div>
    </div>
</div>
<div class="col-12 celular">
    <div class="row">
        <div class="col-12">
            <a href="https://goo.gl/maps/GPK5dgPQMNukJiDe8">
            <img src="../../assets/imgs/Nuevo laredo.png" style="width: 100%;height: 100%"></a>
        </div>
        <div class="col-12">
            <a href="https://goo.gl/maps/fXZMbjqdz5E2">
            <img src="../../assets/imgs/cdmx.png" style="width: 100%;height: 105%"></a>
        </div>
        <div class="col-12">
            <a href="https://goo.gl/maps/puB7mnXEw2gBsd4s6">
            <img src="../../assets/imgs/Tepotzotlan.png" style="width: 100%;height: 100%"></a>
        </div>
        <div class="col-12">
            <img src="../../assets/imgs/DURANGO.png" style="width: 100%;height: 100%">
        </div>
        <div class="col-12">
            <a href="https://goo.gl/maps/hLJs6p18jaLHgjFy9">
            <img src="../../assets/imgs/Roma.png" style="width: 100%;height: 100%"></a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <br>
</div>
<app-footer></app-footer>
