.is-invalid{
	border: 2px red solid;
}
.contenedorGlobal{
	width: 100%;
}

.title{
	margin: 700px;
	color: #00549b;
	font-size: 50px;
	font-weight: bold;
}

.title2{
	margin-top: 30px;
	margin-right: 100px;
	float: right;
	color: #00549b;
	font-size: 60px;
	font-weight: bold;
}


.block1{
	overflow: hidden;
	text-align: left;

}
.block1 img{
	width: 100%;
	height: 100%;
}

.block1 a{
	font-size: 180px;
}

#colorA{
	color: #00549b;
}

#vector{
	opacity: 0.7;
}

.block2 {
	background: url("/img/edificios.png");
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: cover;

}

.block2 img{
	height: 25%;
	width: 25%;
}

.block2 p{
	color: #00549b;
	font-weight: bold;
	margin-left: 200px;
	width: 50%;
	text-align: justify;
}

.caja{
	display: inline-block;
	text-align: center;
	width: 900px;
	padding: 10px;
}

.caja2{
	margin-left: 450px;
	display: inline-block;
	text-align: center;
	width: 900px;
	padding: 10px;
}

.BPO{
	color: #91373c;
	font-weight: bold;
	font-size: 25px;
}

.EGD{
	color: #0056b4;
	font-weight: bold;
	font-size: 25px;
}

.PMO{
	color: #e2a615;
	font-weight: bold;
	font-size: 25px;
}

.DAE{
	color: #359444;
	font-weight: bold;
	font-size: 25px;
}

.SAD{
	color: #a2a7ab;
	font-weight: bold;
	font-size: 25px;
}

.EDU{
	color: #d3752e;
	font-weight: bold;
	font-size: 25px;
}

.MKD{
	color: #4a9fdc;
	font-weight: bold;
	font-size: 25px;
}

.block3{
	display: inline-block;
}
.block3 img{
	height: 50%;
	width: 50%;
	float: left;
}

.cont{
	margin-top: 150px;
}
.block3 .linea{
	margin: -10px 219px;
	width: 25%;
}

.block3 .linea2{
	margin: -10px 230px;
	width: 25%;
}

.block3 .linea3{
	margin: -10px 230px;
	width: 25%;
}

.block3 .icon{
	float: right;
	margin: 10px 180px;
	height: 7%;
	width: 7%;
}

.block3 .icon2{
	float: left;
	margin: 1px 230px;
	height: 7%;
	width: 7%;
}

.title3{
	position: absolute;
	margin-top: 50px;
	margin-left: 440px;
	color: #0b2d42;
	font-size: 35px;
	font-weight: bold;
}

.title4{
	position: absolute;
	margin-top: 200px;
	margin-left: 360px;
	color: #0b2d42;
	font-size: 35px;
	font-weight: bold;
}

.title5{
	position: absolute;
	margin-top: 320px;
	margin-left: 350px;
	color: #0b2d42;
	width: 20%;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}

.title6{
	position: absolute;
	margin-top: 470px;
	margin-left: 310px;
	color: #0b2d42;
	width: 15%;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}

.title7{
	margin-top: 20px;
	margin-left: 300px;
	position: absolute;
	color: #0b2d42;
	font-size: 60px;
	font-weight: bold;
}
.block4{
	overflow: hidden;
}
.block4 form{
	margin-top: 100px;
}
.block4 input[type=text] {
	color: #0b2d42;
	font-size: 30px;
	background-color: #fff;
	width: 50%;
	padding: 20px 20px;
	margin: 12px 50px;
	display: block;
	border: 5px solid #00549b;
	border-radius: 10px;
	box-sizing: border-box;
}

.block4 input[type=text1]{
	color: #0b2d42;
	font-size: 30px;
	background-color: #fff;
	width: 50%;
	padding: 20px 20px;
	margin: 8px 50px;
	display: block;
	border: 5px solid #00549b;
	border-radius: 10px;
	box-sizing: border-box;
}

.block4 input[type=submit]{
	color: #fff;
	font-size: 35px;
	background-color: #0b2d42;
	width: 10%;
	padding: 5px 20px;
	margin: 40px 400px;
	display: block;
	border: 1px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
}

::placeholder {
	color: gray;
	opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: gray;
}

.compu{
	float: right;
	height: 50%;
	width: 50%;
	margin-top: -580px;
	margin-right: -200px;
}
.buttonenviar{
	color: #fff;
	font-size: 35px;
	background-color: #0b2d42;
	padding: 5px 50px;
	border: 1px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
}
form{
	margin-top: -440px;
}
.datos{
	text-align: center;
} 
.data{
	display: inline-block;
	text-align: center;
	width: 25%;
	padding: 10px;
}
.data img{
	width: 50%;
}  

.data a{
	font-size: 20px;
}

.data p{
	width: 100%;
	font-size: 20px;
} 

.contenedor1{
	text-align: center;
}

.contenedor1 a{
	text-align: center;
	font-size: 50px;
	color: #0b2d42;
}

.contenedor1 img{
	width: 40%;
	margin-left: -850px;
}

.contenedor1 input[type=text], input[type=email],input[type=tel]{
	color: #0b2d42;
	font-size: 30px;
	background-color: #fff;
	padding: 10px 10px;
	margin: 12px 0px;
	display: block;
	border: 5px solid #00549b;
	border-radius: 10px;
	box-sizing: border-box;
}
.contenedor1 button{
	color: #fff;
	font-size: 35px;
	background-color: #0b2d42;
	padding: 5px 50px;
	border: 1px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
}

.footer{
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 170px;
	background-color: #0b2d42;
	color: #fff;
}
.imageLogos{
	width: 40%;
	height: 80%
}
#br{
	display: none;
}
.blockC{
	display: none;
}


.formularioC{
	display: none;
}
.footer2{
	display: none;
}

.celular{
    display: none;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

   @media all and (min-width: 1024px) and (max-width: 1450px) {
   	.block1 a{
   		font-size: 100px;
   	}
   }

/*@media all and (min-width: 768px) and (max-width: 1024px) {

	}*/
	@media all and (min-width: 1450px) and (max-width: 1536px) {
		.block1 a{
			font-size: 130px;
		}
	}

	@media all and (min-width: 768px) and (max-width: 1023px) {
		.block1{
			display: none;
		}
		.blockC{
			display: inline-block;
		}
		.blockC img{
			width: 100%;
			height: 100%;
			margin-top: -20px;
			margin-left: -50px;
		}
		.blockC a{
			font-size: 80px; 
			position: absolute; 
			margin-left: -50px
		}

		.imageLogos{
			width: 60%;
			height: 50%;
		}
		#br{
			display: inline-block;
		}
		#mapa{
			display: inline-block;
		}
		.contenedor1 a{
			text-align: center;
			font-size: 30px;
			color: #0b2d42;
		}

		.formularioContacto{
			display: none;
		}

		.formularioC{
			display: inline-block;
		}
		.footer{
			display: none;
		}

		.footer2 {
			display: inline-block;
			background: #0b2d42;
			color: white;
			text-align: center;
			width: 100%;
		}
	}

	@media all and (min-width: 480px) and (max-width: 767px) {
		.block1{
			display: none;
		}
		.blockC{
			display: inline-block;
		}
		.blockC img{
			width: 100%;
			height: 100%;
			margin-top: -20px;
			margin-left: -50px;
		}
		.blockC a{
			font-size: 40px; 
			position: absolute; 
			margin-left: -50px
		}

		.imageLogos{
			width: 60%;
			height: 50%;
		}
		#br{
			display: inline-block;
		}
		#mapa{
			display: inline-block;
		}
		.contenedor1 a{
			text-align: center;
			font-size: 30px;
			color: #0b2d42;
		}

		.formularioContacto{
			display: none;
		}

		.formularioC{
			display: inline-block;
		}
		.footer{
			display: none;
		}

		.footer2 {
			display: inline-block;
			background: #0b2d42;
			color: white;
			text-align: center;
			width: 100%;
		}
	}

	@media all and (max-width: 480px) {
		.celular{
			display: block;
		}
		.escritorio{
			display: none;
		}
		.block1{
			display: none;
		}
		.blockC{
			display: inline-block;
		}
		.blockC img{
			width: 120%;
			height: 100%;
			margin-top: -20px;
			margin-left: -50px;
		}
		.blockC a{
			font-size: 40px; 
			position: absolute; 
			margin-left: -50px
		}

		.imageLogos{
			width: 60%;
			height: 50%;
		}
		#br{
			display: inline-block;
		}
		#mapa{
			display: inline-block;
			width: 100%; height: 100%
		}
		#mapa iframe{
			width: 100%; 
			height: 100%;
		}
		.contenedor1 a{
			text-align: center;
			font-size: 30px;
			color: #0b2d42;
		}

		.formularioContacto{
			display: none;
		}

		.formularioC{
			display: inline-block;
		}
		.footer{
			display: none;
		}

		.footer2 {
			display: inline-block;
			background: #0b2d42;
			color: white;
			text-align: center;
			width: 100%;
		}

	}


	/* Portrait */
	@media screen and (orientation:portrait) {

	}
	/* Landscape */
	@media screen and (orientation:landscape) {

	}


	/* CSS for iPhone, iPad, and Retina Displays */

	/* Non-Retina */
	@media screen and (-webkit-max-device-pixel-ratio: 1) {

	}

	/* Retina */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	}

	/* iPhone Portrait */
	@media screen and (max-device-width: 480px) and (orientation:portrait) {

	} 

	/* iPhone Landscape */
	@media screen and (max-device-width: 480px) and (orientation:landscape) {

	}

	/* iPad Portrait */
	@media screen and (min-device-width: 481px) and (orientation:portrait) {

	}

	/* iPad Landscape */
	@media screen and (min-device-width: 481px) and (orientation:landscape) {

	}



	@media (min-width: 481px) and (max-width: 767px) {

		

	}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

  

  }
