<div class="row container">
  <div class="col-lg-4" *ngFor="let aspirante of aspirante">
  <mat-card class="card" [class.disable]="aspirante.statusAspirante == '0'">
      <mat-card-header>
        <!-- <mat-card-title ></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>
          Nombre: {{aspirante.nombreAspirante + ' ' + aspirante.apellidopaternoAspirante + ' ' + aspirante.apellidomaternoAspirante}}
        </p>
        <p>
          Correo: {{aspirante.correoAspirante}}
        </p>
        <p>
          Telefono: {{aspirante.telefonoAspirante}}
        </p>
        <p>
          Ocupación: {{aspirante.ocupacionAspirante}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center but">
          <button mat-button (click)="openAspirante(aspirante.idAspirante,aspirante.nombreAspirante,aspirante.apellidopaternoAspirante,aspirante.apellidomaternoAspirante,aspirante.correoAspirante,aspirante.telefonoAspirante,aspirante.cvAspirante,aspirante.ocupacionAspirante,aspirante.statusAspirante,aspirante.fechaAspirante)" class="ver zoom" id="btn1">Ver Más</button>
          <button mat-button (click)="desactivarAspirante(aspirante.idAspirante)" class="cancelar text-center zoom" [class.des]="aspirante.statusAspirante == '0'" [class.act]="aspirante.statusAspirante == '1'">Desactivar
          </button>
          <button mat-button (click)="activarAspirante(aspirante.idAspirante)" class="cancelar text-center zoom" [class.des]="aspirante.statusAspirante == '1'" [class.act]="aspirante.statusAspirante == '0'">Activar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>