.ver,.cancelar{
    color: white;
}

.card {
    max-width: 300px;
  	/*box-shadow : 0 0 5px rgba(0,0,255,1);*/
	border : 1px solid rgba(0,0,255,0.6);
    margin-top: 5%;
  
}
.cancelar{
	background-color: #FF9100;
}
.ver{
	background-color: #00549b;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.zoom{        
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 2s,-o-transform 1s;
    }
.zoom:hover{ 
    transform : scale(1.2);
    -webkit-transform : scale(1.2);   /* Chrome - Safari */    
}
.but button{
	margin-right: 10%;
}

.disable{
    background-color: lightgrey;
    opacity: 0.5;
}

.act {
    display: all;
    visibility: visible;
}

.des {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 600px){
  .container{
    margin-left: 0%;
  }

}