<h1 mat-dialog-title align="center">Datos Aspirantes</h1>
<div mat-dialog-content class="text-center">
  <div class="container">
			<p>
				<label>Nombre: {{data.nombreAspirante + ' ' + data.apellidopaternoAspirante + ' ' + data.apellidomaternoAspirante}}</label>				
			</p>
<!-- 			<p>
				<label>Apellido Paterno: {{data.apellidopaternoAspirante}}</label>				
			</p>
			<p>
				<label>Apellido Materno: {{data.apellidomaternoAspirante}}</label>				
			</p> -->
			<p>
				<label>Correo Electronico: {{data.correoAspirante}}</label>		
			</p>	
			<p>
				<label>Telefono: {{data.telefonoAspirante}}</label>
			</p>	
			<p>
				<label>Ocupación: {{data.ocupacionAspirante}}</label>
			</p>		
		    <p>
          		Curriculum:<a href="https://docs.google.com/a/api-env-3.3538whi7ub.us-east-2.elasticbeanstalk/viewer?url=http://api-env-3.3538whi7ub.us-east-2.elasticbeanstalk.com/api/obtenercv/{{data.cvAspirante}}" target="_blank"> {{data.cvAspirante}}</a>          		 
        	</p>
	</div>
</div>
<div class="text-center button">
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()" class="cancelar zoom">Volver</button>
</div>
</div>