<div class="row">
	<div class="col-lg-12">
		<button type="button" id="add" (click)="OpenD(servicio.idServicio, '')" class="btn btn-success text-center">+</button>
	</div>
</div>

<div class="card-container card" >
	<h1>Modificar servicio</h1>
	<div class="container">
		<form #registerForm = 'ngForm' class="col-md-12">
			<p>
				<label>Categoría:</label>
				<select #categoria= 'ngModel' name="idcat" [(ngModel)] = 'servicio.idCategoriaservicio_Servicio' class="form-control" required="">
					<option *ngFor="let servicio of categoriaSer" [value]="servicio?.idCategoriaservicio_Servicio">{{servicio?.nombreCategoriaservicio}}</option>
				</select>
			</p>
			<p>
				<label>Nombre:</label>
				<input type="text" #desc = 'ngModel' name="nom" [(ngModel)]='servicio.nombreServicio' class="form-control" required>
			</p>
			<p>
				<label>Descripción:</label>
				<input type="text" #apre = 'ngModel' name="desc" [(ngModel)] = 'servicio.descripcionServicio' class="form-control" required>
			</p>
			<p>
				<label>URL video:</label>
				<input type="text" #obj = 'ngModel' name="tel" [(ngModel)] = 'servicio.urlvideoServicio' class="form-control" required>
			</p>
			<div *ngFor="let puntoservicio of puntoservicio2; let i = index">
				<!-- <p>
					<label>Id de Punto {{i+1}}:</label>
					<input type="text" #obj = 'ngModel' name="idp-{{i}}" [(ngModel)] = 'puntoservicio.idPuntoservicio' class="form-control" required>
				</p> -->
				<p [class.baja]="puntoservicio.statusPuntoservicio == '0'">
					<label>Descripción de Punto {{i+1}}:</label>
					<button type="button" (click)="elimConf(puntoservicio.idPuntoservicio)" class="cancelar text-center" [class.des]="puntoservicio.statusPuntoservicio == '0'" [class.act]="puntoservicio.statusPuntoservicio == '1'">Desactivar</button>
					<button type="button" (click)="regreConf(puntoservicio.idPuntoservicio)" class="cancelar text-center" [class.des]="puntoservicio.statusPuntoservicio == '1'" [class.act]="puntoservicio.statusPuntoservicio == '0'">Activar</button>
					<input type="text" #obj = 'ngModel' name="{{puntoservicio.idPuntoservicio}}" [(ngModel)] = 'puntoservicio.descripcionPuntoservicio' class="form-control" required>
				</p>
			</div>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" (click)="onSubmitRegister()" class="btn btn-primary">Modificar</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/serv']" class="btn btn-success">Ver servicios</button>
				</div>
			</div>
		</form>
	</div>
</div>