.ver,.cancelar{
    color: white;
}
mat-card {
	max-width: 90%;
	margin-bottom: 10%;
}

label {
	font-weight: bold;
}

#add {
	position: fixed;
	z-index: 1;
	left: 90%;
	margin-top: 20%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-size: 5vh;
	font-weight: bold;
	padding-bottom: 1%;
	background-color: #00549b;
}

.cancelar {
	background-color: #FF9100;
	margin-left: 30%;
}

.ver {
	background-color: #00549b;
}

.zoom {
	transition: width 1s, height 1s, transform 1s;
}

.baja {
	background-color: lightgrey;
	opacity: 0.5;
}

.act {
	display: all;
	visibility: visible;
}

.des {
	display: none;
	visibility: hidden;
}