<h1 mat-dialog-title>Añadir punto de servicio</h1>
<div mat-dialog-content>
	<form #registerForm = 'ngForm' class="col-md-12">
		<p>
			<label>Descripción:</label>
			<mat-form-field>
				<input type="text" [(ngModel)]="puntoservicio.descripcionPuntoservicio" name="descripcionPuntoservicio">
			</mat-form-field>
		</p>
		<p style="visibility: hidden;">
			<label>Id Servicio:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="puntoservicio.idServicio_Puntoservicio" name="idServicio_Puntoservicio" disabled="disabled">
			</mat-form-field>
		</p>
	</form>
</div>
<div mat-dialog-actions class="row">
	<div class="col-6">
		<button (click)="onNoClick()" class="btn btn-default text-center">Salir</button>
	</div>
	<div class="col-6">
		<button (click)="onAddClick()" class="btn btn-success text-center">Añadir</button>
	</div>
</div>