<div class="card-container card">
	<h1>Agrega servicio</h1>
	<div *ngIf='alertRegister'>
		<div class="alert alert-info" role="alert">
			{{alertRegister}}
		</div>
	</div>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<!-- <div *ngFor="let puntoservicio of puntoservicio.PuntosdeServicio; let i = index">
				<p>
					<label>ID de categoría:</label>
					<input type="text" #nombre = 'ngModel' name="idcat" [(ngModel)] = 'servicio.idCategoriaservicio_Servicio' class="form-control" required>
				</p>
			</div> -->
			<p>
				<label>Categoría:</label>
				<select #categoria= 'ngModel' name="idcat" [(ngModel)] = 'servicio.idCategoriaservicio_Servicio' class="form-control" required="">
					<option value="" disabled selected>Elija una categoría</option>
					<option *ngFor="let servicio of categoriaSer" [value]="servicio?.idCategoriaservicio_Servicio">{{servicio?.nombreCategoriaservicio}}</option>
				</select>
			</p>
			<p>
				<label>Nombre:</label>
				<input type="text" #desc = 'ngModel' name="nom" [(ngModel)]='servicio.nombreServicio' class="form-control" required>
			</p>
			<p>
				<label>Descripción:</label>
				<input type="text" #apre = 'ngModel' name="desc" [(ngModel)] = 'servicio.descripcionServicio' class="form-control" required>
			</p>
			<p>
				<label>URL video:</label>
				<input type="text" #obj = 'ngModel' name="tel" [(ngModel)] = 'servicio.urlvideoServicio' class="form-control" required>
			</p>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Crear</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/serv']" class="btn btn-success">Ver servicios</button>
				</div>
			</div>
		</form>
	</div>
</div>