<div class="row">
	<div class="col-12">
		<button type="button" id="add" [routerLink]="['/regserv']" class="btn btn-success text-center">+</button>
	</div>
</div>

<div class="row container">
	<div class="col-lg-4" *ngFor="let servicio of servicio">
<mat-card class="card" [class.baja]="servicio.statusServicio == '0'">
	<mat-card-header>
		<mat-card-title><h5>Nombre: {{servicio.nombreServicio}}</h5></mat-card-title>
		<mat-card-subtitle></mat-card-subtitle>
	</mat-card-header>
	<mat-card-content></mat-card-content>
	<mat-card-actions>
		<div class="row text-center">
			<div class="col-6">
				<button mat-button [routerLink]="['/editserv/'+servicio.idServicio]" class="ver zoom text-center">Editar</button>
			</div>
			<div class="col-6">
				<button mat-button (click)="elimConf(servicio.idServicio)" class="cancelar text-center" [class.des]="servicio.statusServicio == '0'" [class.act]="servicio.statusServicio == '1'">Desactivar</button>
				<button mat-button (click)="regreConf(servicio.idServicio)" class="cancelar text-center" [class.des]="servicio.statusServicio == '1'" [class.act]="servicio.statusServicio == '0'">Activar</button>
			</div>
		</div>
	</mat-card-actions>
</mat-card>
</div>
</div>