
#agenda{
    display: none;
}

#agenda2{
    display: none;
}

#agenda{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border: 1px solid #00549b;
  background-color: #ccc;
  z-index: 4;
}


#enviar{
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #0b2d42; 
  font-size:150%;
  padding: 10px 80px;

}

#cancelar{
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #0b2d42; 
  font-size:150%;
  padding: 10px 70px;
}

input[name=nombre]{
  color: #0b2d42;
  font-size: 25px;
  background-color: #fff;
  padding: 10px 50px;
  margin: 12px;
  border: 5px solid #00549b;
  border-radius: 10px;
  box-sizing: border-box;
}

#compu{
  width: 100%;
  height: 100%;
}

#cita{
  text-align: center;
}

#titulo{
  font-size: 35px;
  color: #00549b;
}

.flotador{
  color: #00549b;
  display:scroll;
  position:fixed;
  bottom:700px;
  right:-978px;
  z-index: 1;
}

.flotador2{
  display: none;
}

.calendarIcon{
  height: 10%;
  width: 10%; 
  cursor: pointer
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/

   @media all and (min-width: 1024px) and (max-width: 1450px) { 
    .flotador{
      color: #00549b;
      display:scroll;
      position:fixed;
      bottom:400px;
      right: -950px;
      z-index: 1;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    .flotador{
      display: inline-block;
      color: #00549b;
      display:scroll;
      position:fixed;
      bottom:20px;
      right: 10px;
      z-index: 1;
      height: 13%;
      width: 10%;
    }
    .calendarIcon{
      height: 80%;
      width: 100%; 
      cursor: pointer
    }
    #enviar{
      color: #fff;
      border: 1px solid transparent;
      border-radius: 10px;
      background: #0b2d42; 
      font-size:150%;
      padding: 10px 50px;

    }

    #cancelar{
      color: #fff;
      border: 1px solid transparent;
      border-radius: 10px;
      background: #0b2d42; 
      font-size:150%;
      padding: 10px 50px;
    }
      #agenda2{
        z-index: 1;
        overflow: scroll;
        height: 100%;
      }

    }

    @media all and (min-width: 1450px) and (max-width: 1540px) {
      .flotador{
        color: #00549b;
        display:scroll;
        position:fixed;
        bottom:600px;
        right: -950px;
        z-index: 1;
      }

    }

    /*@media all and (min-width: 480px) and (max-width: 846px) {*/
      @media all and (min-width: 480px) and (max-width: 767px) {
        .flotador{
          display: none;
        }
        .flotador2{
          display: inline-block;
          color: #00549b;
          display:scroll;
          position:fixed;
          bottom:20px;
          right: 10px;
          z-index: 1;
          height: 13%;
          width: 10%;
        }
        #agenda2{
          z-index: 1;
          overflow: scroll;
          height: 100%;
        }
      }

      @media all and (max-width: 480px) {
        .flotador{
          display: none;
        }
        .flotador2{
          display: inline-block;
          color: #00549b;
          display:scroll;
          position:fixed;
          bottom:120px;
          right: 10px;
          z-index: 1;
          height: 9%;
          width: 14%;
        }
        #agenda2{
          position: fixed;
          z-index: 1;
          overflow: scroll;
          height: 100%;
        }
      }


      /* Portrait */
      @media screen and (orientation:portrait) {

      }
      /* Landscape */
      @media screen and (orientation:landscape) {

      }


      /* CSS for iPhone, iPad, and Retina Displays */

      /* Non-Retina */
      @media screen and (-webkit-max-device-pixel-ratio: 1) {

      }

      /* Retina */
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (-o-min-device-pixel-ratio: 3/2),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {
      }

      /* iPhone Portrait */
      @media screen and (max-device-width: 480px) and (orientation:portrait) {

      } 

      /* iPhone Landscape */
      @media screen and (max-device-width: 480px) and (orientation:landscape) {

      }

      /* iPad Portrait */
      @media screen and (min-device-width: 481px) and (orientation:portrait) {

      }

      /* iPad Landscape */
      @media screen and (min-device-width: 481px) and (orientation:landscape) {

      }



      @media (min-width: 481px) and (max-width: 767px) {

    

      }

      @media (min-width: 320px) and (max-width: 480px) {

        

      }



