<div class="container" id="clientes">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left;position: absolute;z-index: 1;top:0">
        <div id="btncerrarcliente">
            <i class="fas fa-times fa-2x" style="cursor: pointer" (click)="onNoClick()"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div id="logo" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{data.url+'getImageFileCliente/'+data.fotoCliente}}" id="logoImg" style="width: 100%;height: 100%; margin-top: 0;">
            </div>
            <div id="serviciocliente" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div  style="float: left;" *ngFor="let clientsserv of clientsserv">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngIf="clientsserv.idCliente_ClienteServicio == data.idCliente" style="float: left;">
                            <img src="{{data.url+'getImageFileServicioCliente/'+clientsserv.fotoServicio_ClienteServicio}}" class="servicio1" style="height: 100%;width: 100%">
                        </div>
                        <div id="servicio" class="col-xs-8 col-sm-8 col-md-8 col-lg-8" *ngIf="clientsserv.idCliente_ClienteServicio == data.idCliente" style="float: left;">
                                <a id="serviciodado">{{clientsserv.descripcionServicio_ClienteServicio}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>