<app-menu></app-menu>
<!-- <app-agenda class="agenda"></app-agenda>

<div class="flotador" id="floato">
    <img src="../../assets/imgs/icono agendar cita.png" class="calendarIcon">
</div>
<div id="floato2">
    <img class="flotador2" src="../../assets/imgs/icono agendar cita.png">
</div> -->
<div class="contenedorGlobal">
    <div class="col-md-12">
        <br>
        <br>
    </div>
    <div class="col-md-12 block1">
        <div class="row">
            <div class="col-md-4">
                <img id="vector" src="../../assets/imgs/vector2.png">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a id="colorA">NOSOTROS</a>
            </div>
        </div>
    </div>
    <div class="col-12 blockC">
        <div class="row">
            <div class="col-6" style="text-align: left;">
                <img src="../../assets/imgs/vector2.png">
            </div>
            <div class="col-6" style="text-align: left;">
                <br>
                <br>
                <br>
                <a id="colorA">NOSOTROS</a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <img src="../../assets/imgs/equipo nosotros.png" class="fotoEquipo misionC">
    </div>
    <div class="col-md-12 misionN">
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <img src="../../assets/imgs/equipo nosotros.png" class="imagen1" alt="">
            </div>
            <div class="col-md-5 MV">
                <br>
                <br>
                <a id="colorA1">MISIÓN</a>
                <p>Encaminar a los negocios que desean incrementar sus activos mediante modelos de gestión operativos, tácticos
                    y estratégicos, colaborando en conjunto y transfiriendo en conocimiento para que sean autosuficientes.</p>
                <a id="colorA1">VISIÓN</a>
                <p>Para el 2025 seremos una empresa redituable con base a modelos de gestión maduros en 5 sectores diferentes
                    y con capital humano experto.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-12 misionC">
        <div class="row">
            <div class="col-md-12 MV">
                <br>
                <br>
                <a id="colorA1" style="font-size: 50px">MISIÓN</a>
                <p>Encaminar a los negocios que desean incrementar sus activos mediante modelos de gestión operativos, tácticos
                    y estratégicos, colaborando en conjunto y transfiriendo en conocimiento para que sean autosuficientes.</p>
                <a id="colorA1" style="font-size: 50px">VISIÓN</a>
                <p>Para el 2025 seremos una empresa redituable con base a modelos de gestión maduros en 5 sectores diferentes
                    y con capital humano experto.</p>
            </div>

        </div>
    </div>
    <div class="col-md-12 misionN">
        <br>
        <br>
        <br>
    </div>
    <div class="col-md-12 misionN" style="text-align: center;">
        <div class="row">
            <div class="col-12"></div>
            <div class="col-md-1"></div>
            <div class="col-md-5 MV">
                <br>
                <br>
                <a id="color2">SATISFACCIÓN DE NUESTROS CLIENTES</a>
                <p>
                    En CIHumana, estamos convencidos de que la Satisfacción del Cliente es uno de nuestros pilares del servicio que ofrecemos,
                    por eso incluimos el objetivo de las demás consultorías, como nuestro principal soporte.
                </p>
            </div>
            <div class="col-md-5">
                <img src="../../assets/imgs/piramide.png" alt="" style="width: 100%;height: 100%">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-12 misionC" style="text-align: center;">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
            </div>
            <div class="col-md-12">
                <a id="color2" style="font-size: 40px">SATISFACCIÓN DE NUESTROS CLIENTES</a>
                <p>
                    En CIHumana, estamos convencidos de que la Satisfacción del Cliente es uno de nuestros pilares del servicio que ofrecemos,
                    por eso incluimos el objetivo de las demás consultorías, como nuestro principal soporte.
                </p>
            </div>
            <div class="col-md-12">
                <img src="../../assets/imgs/piramide.png" alt="" style="width: 100%;height: 90%">
            </div>
        </div>
    </div>
    <div class="col-md-12 misionN">
        <br>
        <br>
        <br>
    </div>
    <div class="col-md-12 misionN">
        <div class="row">
            <div class="col-md-7" style="text-align: center;">
                <div class="col-md-12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <a id="color2">VALORES</a>
                        </div>
                        <div class="col-md-4 valores">
                            <p>
                                <strong>1</strong>HONESTIDAD</p>
                        </div>
                        <div class="col-md-4 valores">
                            <p>
                                <strong>2</strong>COMPROMISO</p>
                        </div>
                        <div class="col-md-4 valores">
                            <p>
                                <strong>3</strong>ACTITUD POSITIVA</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 valores">
                            <p>
                                <strong>4</strong>ACTITUD DE SERVICIO</p>
                        </div>
                        <div class="col-md-6 valores">
                            <p>
                                <strong>5</strong>INTEGRIDAD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/imgs/business-couple 002.png" style="width: 100%;height: 100%;">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br>
    <div class="col-md-12" id="block2">
        <div class="row">
            <div class="col-md-12">
                <a style="font-size: 50px">EQUIPO</a>
            </div>
            <div class="col-md-12 misionN botonequipo">
                <img id="btnEquipo" src="../../assets/imgs/boton equipo.png" style="height: 100%; margin-right: 150px;" (click)="openPersonal(url)">
            </div>

            <div class="col-md-12 col-lg-6 col-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 iram">
                            <img src="../../assets/imgs/iram.jpg" alt="">
                        </div>
                        <div class="col-md-6 frase">
                            <div class="misionN">
                                <br>
                            </div>
                            <a>Iram Sosa</a>
                            <p>“Creamos una innovadora idea para la gestión de procesos en los negocios con la finalidad de
                                optimizar sus recursos e incrementar las utilidades”</p>
                            <div>
                                <a href="https://mx.linkedin.com/in/iram-sosa-rocha-6a406532" target="blank"><img src="../../assets/imgs/linkedin.png" ></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 iram">
                            <img src="../../assets/imgs/pedro.jpg" alt="">
                        </div>
                        <div class="col-md-6 frase">
                            <div class="misionN">
                                <br>
                            </div>
                            <a>Pedro Álvarez</a>
                            <p>“Gracias a mi pasión por el orden y la tecnología, hemos logrado eficientar y automatizar los
                                procesos de las empresas”</p>
                            <div>
                               <a href="https://mx.linkedin.com/in/pedroa4" target="blank">
                                   <img src="../../assets/imgs/linkedin.png">
                               </a> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 misionC" style="text-align: center;">
                <img  (click)="openPersonal(url)" id="btnEquipo2" src="../../assets/imgs/boton equipo.png">
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-12">
        <br>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <a style="font-size: 50px;color: #00549b;">CLIENTES</a>
            </div>
            <div class="col-md-4" *ngFor="let clients of clients">
                <img src="{{url+'getImageFileCliente/'+clients.fotoCliente}}" class="clientes" name=".{{clients.idCliente}}" style="width: 50%;height: 100%;cursor: pointer;" (click)="openCliente(clients.idCliente,clients.empresaCliente, clients.telefonoCliente, clients.statusCliente, clients.fotoCliente, url)" *ngIf="clients.statusCliente == 1">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<app-equipo class="equipo"></app-equipo>

<app-clientes id="clientes"></app-clientes>

