<div class="row container2">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left;position: absolute;z-index: 1;top:0">
        <div id="btncerrarcliente">
            <i class="fas fa-times fa-2x" (click)="onNoClick()"></i>
        </div>
    </div>
	<div class="col-lg-4" *ngFor="let personal of personal"> 
		<div class="text-center cont" *ngIf="personal.statusPersonal == 1">
			<img class="circle img-thumbnail" src="{{data.url+'getImageFilePersonal/'+personal.fotoPersonal}}"> 
			<h3>
				{{personal.nombrePersonal+' '+personal.apellidopaternoPersonal+' '+personal.apellidomaternoPersonal}}
			</h3>
			<hr>
			<div class="text-center">
				<h5>" {{personal.frasePersonal}} "</h5>
			</div>
			<hr>
		</div>
	</div>
</div>