.cont{
    margin-top: 3%;
}
.circle {
	border-radius: 50%;
	object-fit: scale-down;
	width: 150px;
}
.container{
	overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: url(https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
}
.container2{
    overflow: auto;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    height: 60%;
    width: 70%;
    background: url(https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
}

@media all and (max-width: 480px) {
    .container{
        overflow: scroll;
    }
    .container2{
        overflow: auto;
        position: fixed;
        left: 54%;
        top: 30%;
        transform: translate(-50%, -30%);
        -webkit-transform: translate(-50%, -30%);
        height: 90%;
        width: 80%;
        background: url(https://www.xmple.com/wallpaper/white-blue-gradient-linear-1920x1080-c2-87cefa-fff5ee-a-285-f-14.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        z-index: 1;
    }
}