<!-- <div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    <div class="form-inline">
      <div class="dropdown" style="float:right;">
        <button class="dropbtn btn btn-outline-success my-2 my-sm-0">Opciones</button>
          <div class="dropdown-content">
            <a [routerLink]='["/update"]'>Actualizar Mis Datos</a>
            <a [routerLink]='["/register"]'>Registrar Nuevo Administrador</a>
            <a href="#" (click)='logOut()'>Cerrar sesion</a>
          </div>
      </div>
    </div>
  </nav>
</div> -->
<mat-toolbar class="toolbar">
  <div class="col-2">
    <button class="btnto" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </div>
    <div class="col-10 text-right">
      <a href="#" (click)='logOut()'>
        <i class="fas fa-sign-out-alt" style="color: white;"> Salir</i>
      </a>
    </div>
</mat-toolbar>
<mat-sidenav-container class="example-container"
                         >
    <mat-sidenav #snav [mode]="side">
      <mat-nav-list>
        <div class="adimg" *ngIf='identity.fotoAdministrador && administrador.fotoAdministrador != "default.png"' class="lbimg">
        <label id="nombreAdministrador">{{identity.nombreAdministrador + ' ' + identity.apellidopaternoAdministrador + ' ' + identity.apellidomaternoAdministrador}}</label><br>
        <img id="fotoAdministrador" src="{{url+ '/getImagen/' + identity.fotoAdministrador}}" class="img-fluid rounded-circle img-thumbnail">
      </div><hr class="sep">
      <div class="men">
        <a [routerLink]="['/']" (click)="snav.toggle()">
          <i class="fas fa-user-alt"> Mis Datos</i>
        </a><br>
        <a [routerLink]="['/register']" (click)="snav.toggle()">
          <i class="fas fa-plus"> Añadir Administrador</i>
        </a><br>
        <a [routerLink]="['/aspirantes']" (click)="snav.toggle()">
           <i class="fas fa-chalkboard-teacher"> Aspirantes</i>
        </a><br>
        <a [routerLink]="['/cursos']" (click)="snav.toggle()">
          <i class="fas fa-book-open"> Cursos</i>
        </a><br>
        <a [routerLink]="['/clientes']" (click)="snav.toggle()">
          <i class="fas fa-handshake"> Clientes</i>
        </a><br>
        <a [routerLink]="['/nuevosclientes']" (click)="snav.toggle()">
          <i class="fas fa-search-plus"> Prospectos a Clientes</i>
        </a><br>
        <a [routerLink]="['/categorias']" (click)="snav.toggle()">
          <i class="fas fa-tags"> Categorias</i>    
        </a><br>
        <a [routerLink]="['/blog']" (click)="snav.toggle()">
          <i class="fas fa-newspaper"> Blog</i>    
        </a><br>
        <a [routerLink]="['/personal']" (click)="snav.toggle()">
          <i class="fas fa-users"> Personal</i>    
        </a><br>
        <a [routerLink]="['/serv']" (click)="snav.toggle()">
          <i class="fas fa-cogs"> Servicios</i>    
        </a><br>
      </div>
      </mat-nav-list><hr class="sep">
      <div class="lgo">
        <a href="#" (click)='logOut()'>
          <i class="fas fa-sign-out-alt" style="color: white;"> Cerrar Sesión</i>
        </a>
      </div>
    </mat-sidenav>

    <!-- <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content> -->
  </mat-sidenav-container>
