/*.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}*/
/*

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
*:focus { outline: none; } 

.sep{
  width: 75%;
  border: 1px solid #F7F5F4;
}
.lbimg img{
  width: 50%;
  height: 50%
}
.lbimg{
  background-color: #00549b;
  padding-bottom: 5%;
}
.men i{
  margin-top: 5%;
}
.toolbar{
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 20;
  color: white;
  background-color: #00549b; 
  height: 6vh;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.btnto{
  cursor: pointer;
  /*left: 70%;*/
}

.mat-nav-list, mat-sidenav{
  background-color: #00549b;
  color: white;
}

@media screen and (max-width: 600px){
  .btnto{
    display: block;
  }
  
}

