<div class="row">
	<div class="col-12">
		<button type="button" id="add" [routerLink]="['/regper']" class="btn btn-success text-center">+</button>
	</div>
</div>

<div class="row container">
	<div class="col-lg-4" *ngFor="let personal of personal">
<mat-card class="card" [class.baja]="personal.statusPersonal == '0'">
	 <!-- [ngStyle]="{'background-color':curso.statusCurso === '0' ? 'gray' : 'red' }" -->
	<mat-card-header>
		<div mat-card-avatar>
			<img mat-card-avatar src="{{url+ 'getImageFilePersonal/' +personal.fotoPersonal}}">
		</div>
		<mat-card-title><h5>Nombre: {{personal.nombrePersonal + ' ' + personal.apellidopaternoPersonal + ' ' + personal.apellidomaternoPersonal}}</h5></mat-card-title>
		<mat-card-subtitle></mat-card-subtitle>
	</mat-card-header>
	<!-- <img mat-card-image src="{{url+ 'getImageFilePersonal/' +personal.fotoPersonal}}"> -->
	<mat-card-content></mat-card-content>
	<mat-card-actions>
		<div class="row text-center">
			<div class="col-6">
				<button mat-button [routerLink]="['/editper/'+personal.idPersonal]" class="ver zoom text-center">Editar</button>
			</div>
			<div class="col-6">
				<button mat-button (click)="elimConf(personal.idPersonal)" class="cancelar text-center" [class.des]="personal.statusPersonal == '0'" [class.act]="personal.statusPersonal == '1'">Desactivar</button>
				<button mat-button (click)="regreConf(personal.idPersonal)" class="cancelar text-center" [class.des]="personal.statusPersonal == '1'" [class.act]="personal.statusPersonal == '0'">Activar</button>
			</div>
		</div>
	</mat-card-actions>
</mat-card>
</div>
</div>