<div class="card-container card">
	<h1>Agrega personal</h1>
	<div *ngIf='alertRegister'>
		<div class="alert alert-info" role="alert">
			{{alertRegister}}
		</div>
	</div>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<p>
				<label>Nombre:</label>
				<input type="text" #nombre = 'ngModel' name="nom" [(ngModel)] = 'personal.nombrePersonal' class="form-control" required>
			</p>
			<p>
				<label>Apellido Paterno:</label>
				<input type="text" #desc = 'ngModel' name="appat" [(ngModel)]='personal.apellidopaternoPersonal' class="form-control" required>
			</p>
			<p>
				<label>Apellido Materno:</label>
				<input type="text" #apre = 'ngModel' name="apmat" [(ngModel)] = 'personal.apellidomaternoPersonal' class="form-control" required>
			</p>
			<p>
				<label>Teléfono:</label>
				<input type="text" #obj = 'ngModel' name="tel" [(ngModel)] = 'personal.telefonoPersonal' class="form-control" required>
			</p>
			<p>
				<label>Puesto:</label>
				<input type="text" #dura = 'ngModel' name="puesto" [(ngModel)] = 'personal.puestoPersonal' class="form-control" required>
			</p>
			<p>
				<label>Frase:</label>
				<input type="text" #url = 'ngModel' name="fra" [(ngModel)] = 'personal.frasePersonal' class="form-control" required>
			</p>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Crear</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/personal']" class="btn btn-success">Ver personal</button>
				</div>
			</div>
		</form>
	</div>
</div>