<h1 mat-dialog-title align="center" id="p{{data.idServicio}}">{{data.nombreServicio}}</h1>
<div mat-dialog-content class="text-center">
  <div class="container">
			<div style="height: 15%; width:15%; float: left; display: inline-block;width: 100%" *ngFor="let puntoservicio2 of puntoservicio2">
				
			</div>	
			<div>
				<p>
				<iframe [src]="data.urlvideoServicio" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
			</p>	
			</div>				
	</div>
</div>
<div class="text-center button">
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()" class="cancelar zoom">Volver</button>
</div>
</div>