<app-menu></app-menu>
<!--===============================
=            Seccion 1            =
================================-->
<div class="col-md-12">
    <br>
    <br>
</div>
<div class="col-md-12 block1">
    <div class="row">
        <div class="col-md-4">
            <img id="vector" src="../../assets/imgs/vector.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a id="colorA">SERVICIOS</a>
        </div>
    </div>
</div>
<div class="col-12 blockC">
    <div class="row">
        <div class="col-6" style="text-align: left;">
            <img src="../../assets/imgs/vector2.png">
        </div>
        <div class="col-6" style="text-align: left;">
            <br>
            <br>
            <br>
            <a id="colorA">SERVICIOS</a>
        </div>
    </div>
</div>
<!--====  End of Seccion 1  ====-->

<!--==============================
=            Seccion2            =
===============================-->
<div class="servicios">
    <div class="title">
        <a id="colorA">NUESTROS SERVICIOS</a>
    </div>
    <div class="col-md-12">
        <br>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <div class="row text-center">
            <div class="col-md-5 tree">
                <img id="img" src="../../assets/imgs/arbol.png" style="width: 100%;height: 100%">
                <div class="arbol text-center">
                    <a  style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/dae.png" class="imgClick" name=".1" style="width: 20%;height: 15%; position: absolute; margin: -40% -38%">
                    </a>
                    <a (click)="openServicio(servicio[1].idServicio,servicio[1].idCategoriaservicio_Servicio,servicio[1].nombreServicio,servicio[1].descripcionServicio,servicio[1].urlvideoServicio,servicio[1].statusServicio)" style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/pmo.png" class="imgClick" name=".2" style="width: 20%;height: 15%; position: absolute; margin: -72% -40%">
                    </a>
                    <a (click)="openServicio(servicio[2].idServicio,servicio[2].idCategoriaservicio_Servicio,servicio[2].nombreServicio,servicio[2].descripcionServicio,servicio[2].urlvideoServicio,servicio[2].statusServicio)" style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/egd.png" class="imgClick" name=".3" style="width: 20%;height: 15%; position: absolute; margin: -100% -20%">
                    </a>
                    <a style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/mkd.png" class="imgClick" name=".4" style="width: 20%;height: 15%; position: absolute; margin: -100% 15%">
                    </a>
                    <a (click)="openServicio(servicio[4].idServicio,servicio[4].idCategoriaservicio_Servicio,servicio[4].nombreServicio,servicio[4].descripcionServicio,servicio[4].urlvideoServicio,servicio[4].statusServicio)" style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/bpo.png" class="imgClick"  name=".5" style="width: 20%;height: 15%; position: absolute; margin: -80% 36%">
                    </a>
                    <a (click)="openServicio(servicio[5].idServicio,servicio[5].idCategoriaservicio_Servicio,servicio[5].nombreServicio,servicio[5].descripcionServicio,servicio[5].urlvideoServicio,servicio[5].statusServicio)" style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/edu.png" class="imgClick" name=".6" style="width: 20%;height: 15%; position: absolute; margin: -57% 30%">
                    </a>
                    <a  style="cursor: pointer;">
                        <img src="../../assets/imgs/Services/sad.png" class="imgClick" name=".7" style="width: 20%;height: 13%; position: absolute; margin: -30% 30%">
                    </a> 

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12" style="text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <a id="colorA" style="font-size: 50px;font-weight: bold;">¿Cómo contratar nuestros Servicios?</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img style="width: 100%;height: 100%;" src="../../assets/imgs/bussiness.png">
            </div>
            <div class="col-md-5">
                <img style="width: 70%;height: 100%;" src="../../assets/imgs/nuestrosServicios.jpeg">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br>
    <br>
</div>
<div class="servicios2">
    <div class="col-12">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <a id="colorA">NUESTROS SERVICIOS</a>
            </div>
            <!-- seccion curso -->
            <div class="container" *ngFor="let servicio of servicio">
                <div class="col-12" style="text-align: center;" (click)="buscapuntoServicios(servicio.idServicio)">
                    <p class="serveTitle" id="p{{servicio.idServicio}}">{{servicio.nombreServicio}}</p>
                </div>
                <div [ngSwitch]="servicio.idServicio">
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="1">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/LOj6xTH9xKo?rel=0" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="2">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/768h6mWqU_w?rel=0" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="3">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/6SRfXTucGds?rel=0" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="4">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/LOj6xTH9xKo?rel=0" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="5">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/LOj6xTH9xKo?rel=0" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="6">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/Hq0BBeyAm5I" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-12" style="text-align: center;" *ngSwitchCase="7">                    
                        <iframe id="frame1" src="https://www.youtube.com/embed/LOj6xTH9xKo?rel=0" class="f{{servicio.idServicio}}" name="contentframe"  frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12" *ngFor="let puntoservicio of puntoservicio">
                    <div *ngIf="puntoservicio.idServicio_Puntoservicio == servicio.idServicio">
                        <p id="p{{servicio.idServicio}}">                            
                                <i class="far fa-dot-circle"></i>
                                {{puntoservicio.descripcionPuntoservicio}}
                                <br>                        
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- seccion area curso -->
        </div>
    </div>
    <div class="col-12">
        <br>
        <br>
    </div>
    <div class="col-12" style="text-align: center;">
        <a id="colorA">¿Cómo contratar nuestros Servicios?</a>
    </div>
    <div class="col-12" style="text-align: center;">
        <img style="width: 80%;height: 90%;" src="../../assets/imgs/nuestrosServicios.jpeg">
    </div>
</div>
<br>
<br>

<app-footer></app-footer>