p{
  font-weight: bold;
}
#p1{
  color: rgb(53, 148, 68) !important;
}
#p2{
  color: rgb(226, 166, 21);
}
#p3{
  color: rgb(0, 86, 180);
}
#p4{
  color: rgb(74, 159, 220);
}
#p5{
  color: #91373c;
}
#p6{
  color: rgb(211, 117, 46);
}
#p7{
  color: rgb(162, 167, 171);
}
.cancelar{
    color: white;
}

.cancelar{
  background-color: #FF9100;
}
iframe{
  margin-top: 0px !important;
}
.tree{
  left: 28%;
}

.block1{
  overflow: hidden;
  text-align: left;

}
.opacidad{
  opacity: 0.5;
}
.block1 img{
  width: 100%;
  height: 100%;
}

.block1 a{
  font-size: 180px;
}

.title a{
  margin: 700px;
  font-size: 50px;
  font-weight: bold;

}

.title2 a{
  margin-top: 30px;
  margin-right: 100px;
  float: right;
  font-size: 60px;
  font-weight: bold;
}

.block3{
  display: inline-block;
}
.block3 img{
  height: 50%;
  width: 50%;
  float: left;
}

.cont{
  margin-top: 10px;
}
.block3 .linea{
  margin: -10px 219px;
  width: 25%;
}

.block3 .linea2{
  margin: -10px 230px;
  width: 25%;
}

.block3 .linea3{
  margin: -10px 230px;
  width: 25%;
}

.block3 .icon{
  float: right;
  margin: 10px 180px;
  height: 7%;
  width: 7%;
}

.block3 .icon2{
  float: left;
  margin: 1px 230px;
  height: 7%;
  width: 7%;
}

.title3{
  position: absolute;
  z-index: -1;
  margin-top: 50px;
  margin-left: 440px;
  color: #0b2d42;
  font-size: 35px;
  font-weight: bold;
}

.title4{
  position: absolute;
  z-index: -1;
  margin-top: 200px;
  margin-left: 360px;
  color: #0b2d42;
  font-size: 35px;
  font-weight: bold;
}

.title5{
  position: absolute;
  z-index: -1;
  margin-top: 320px;
  margin-left: 350px;
  color: #0b2d42;
  width: 20%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.title6{
  position: absolute;
  z-index: -1;
  margin-top: 470px;
  margin-left: 310px;
  color: #0b2d42;
  width: 15%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

#colorA{
  color: #00549b;
}

#vector{
  opacity: 0.7;
}

iframe{
  margin-top: 70px;
}

/*#p1{
  font-size: 22px;
  color: #91373c;
  font-weight: bold;
  text-align: left;
}*/

.footer{
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 170px;
  background-color: #0b2d42;
  color: #fff;
}
.blockC{
  display: none;
}

.servicios2{
  display: none;
}
.formularioC{
  display: none;
}
.footer2{
  display: none;
}

.imgClick:hover{
  opacity: 0.5;
}
#frame1{
  width: 100%;
  height: 50%;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/
   @media all and (min-width: 1024px) and (max-width: 1450px) { 
    .block1 a{
      font-size: 100px;
    }
    .title{
      text-align: center;
    }
    .title a{
      text-align: center;
      margin: 0px;
      font-size: 50px;
      font-weight: bold;
    }
    .arbol{
      
    }

   }

   @media all and (min-width: 1450px) and (max-width: 1536px) {
    .block1 a{
      font-size: 130px;
    }

    .title{
      text-align: center;
    }
    .title a{
      text-align: center;
      margin: 0px;
      font-size: 50px;
      font-weight: bold;
    }

   }

   @media all and (min-width: 768px) and (max-width: 1023px) {
    .block1{
      display: none;
    }
    .blockC{
         display: inline-block;
      }
      .blockC img{
         width: 100%;
         height: 100%;
         margin-top: -20px;
         margin-left: -50px;
      }
      .blockC a{
         font-size: 80px; 
         position: absolute; 
         margin-left: -50px
      }
      .servicios{
        display: none;
     }
     .servicios2{
        display: inline-block;
     }

     #colorA{
        color: #00549b;
        font-size: 50px;
     }
     .footer{
        display: none;
     }
     .serveTitle{
        font-size: 50px;
     }
     .p2{
        font-size: 30px;
     }
     .footer2 {
        display: inline-block;
        background: #0b2d42;
        color: white;
        text-align: center;
        width: 100%;
     } 
     #frame1{
        width: 100%;
        height: 400px;
     }
     
  }

  @media all and (min-width: 480px) and (max-width: 767px) {
    .block1{
     display: none;
  }
  .blockC{
     display: inline-block;
  }
  .blockC img{
     width: 100%;
     height: 100%;
     margin-top: -20px;
     margin-left: -50px;
  }
  .blockC a{
     font-size: 40px; 
     position: absolute; 
     margin-left: -50px
  }
  .servicios{
     display: none;
  }
  .servicios2{
     display: inline-block;
  }
  iframe{
     margin-top: 0px;
  }
  #frame1{
   width: 100%;
   height: 100%;
}
#colorA{
  color: #00549b;
  /*font-size: 30px;*/
}
.footer{
  display: none;
}
.serveTitle{
  font-size: 20px;
}

.footer2 {
  display: inline-block;
  background: #0b2d42;
  color: white;
  text-align: center;
  width: 100%;
}   

}

@media all and (max-width: 480px) {
 .block1{
  display: none;
}
.blockC{
   display: inline-block;
}
.blockC img{
   width: 120%;
   height: 100%;
   margin-top: -20px;
   margin-left: -50px;
}
.blockC a{
   font-size: 40px; 
   position: absolute; 
   margin-left: -50px
}
.servicios{
  display: none;
}
.servicios2{
  display: inline-block;
}
iframe{
  margin-top: 0px;
}
#frame1{
   width: 100%;
   height: 100%;
}
.footer{
  display: none;
}

.footer2 {
  display: inline-block;
  background: #0b2d42;
  color: white;
  text-align: center;
  width: 100%;
}


}


/* Portrait */
@media screen and (orientation:portrait) {

}
/* Landscape */
@media screen and (orientation:landscape) {

}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}








