.back{
    position: fixed;
    margin-left: 1%;
    cursor: pointer;
    z-index: 2;
}
.back a{
    cursor: pointer;
}
.rest1{
	width: 90%;
	left: 5%;
	float: left;
	display: inline-flex;
	font-weight: bold;
	text-align: center;
    z-index: 2;
}
.btn-share-facebook--large{
    width: 90px !important;
    background-color: #3b5998;
}
.btn-share-twitter--large{
    width: 90px !important;
    background-color: #00aced;
}
.fbicon, .twicon{
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 9.6px;
    margin-left: .6rem;
    border-radius: 2px!important;
    overflow: hidden;
    text-align: -webkit-center;
}
.social-icon{
    text-align: center;
}
.rest1 #comp{
	vertical-align: top;
}
.fbicon{
	cursor: pointer;
}
.rest{
	width: 90%;
	left: 5%;
}

.imgnot{
	width: 90%;
	left: 5%;
}
.imgnot img{
	width: 100%;
	height: 70vh;
}
.icon-fb{
	width: 45px;
    height: 45px;
    line-height: 50px;
    margin: 4px 0;
    border: 0;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-box-shadow: 0 5px 25px -5px transparent;
    -webkit-box-shadow: 0 5px 25px -5px transparent;
    box-shadow: 0 5px 25px -5px transparent;
    background-color: #3b5998;
    margin-left: 3%;
    cursor: pointer;
}
.icon-tw{
	width: 45px;
    height: 45px;
    line-height: 50px;
    margin: 4px 0;
    border: 0;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-box-shadow: 0 5px 25px -5px transparent;
    -webkit-box-shadow: 0 5px 25px -5px transparent;
    box-shadow: 0 5px 25px -5px transparent;
    background-color: #1da1f2;
    margin-left: 3%;
    cursor: pointer;
}
.shbut{
	font-size: 1.3745rem;
	color: white;
}
.pad{
	position: fixed;
	margin-left: 94%;
    margin-top: 20%;
    z-index: 1;
}
@media all and (max-width: 480px) {
    .imgnot img{
        height: 40vh;
    }
    .pad{
        margin-left: 88%;
        margin-top: 60%;
    }
    .icon-fb,.icon-tw{
        width: 35px;
        height: 35px;
    }
    .shbut{
    font-size: 1.2rem;
    vertical-align: super;
    }

}
