<div class="row back">
    <a (click)="navigate()">
        <i class="fas fa-arrow-alt-circle-left" style="color: #00549b"> Volver</i>
    </a>
</div>
<div class="row pad">
        <a class="icon-fb" (click)="win.open('https://www.facebook.com/sharer/sharer.php?u='+locurl,'sharer','toolbar=0,status=0,width=548,height=325')">
             <i class="fab fa-facebook-square shbut"></i>
         </a>
         <a class="icon-tw" (click)="win.open('https://twitter.com/intent/tweet?text='+Noticia.tituloNoticiablog+' Vía @CIHumana&amp;url='+locurl,'sharer','toolbar=0,status=0,width=548,height=325')">
             <i class="fab fa-twitter shbut"></i>
         </a>
</div>        
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="row">
                    <div class="overflow" id="respuesta">
                        <div class="col-lg-12 text-center">
                           <h1>{{Noticia?.tituloNoticiablog}}</h1>
                       </div>
                         <!-- <div class="col-lg-12 ">
                            <p>Introducción feik que no sé de donde sacaremos :v</p>
                        </div> -->  
                        <div class="col-lg-12 imgnot text-center">
                            <img src="{{url+ '/getImageFileB/' + Noticia?.imagenNoticiablog}}">
                        </div><br>
                        <div class="col-lg-12 text-left rest1">
                            <a (click)="win.open('https://www.facebook.com/sharer/sharer.php?u='+locurl,'sharer','toolbar=0,status=0,width=548,height=325')">
                                <div  role="button" tabindex="0" class="fbicon SocialMediaShareButton--facebook btn-share-facebook--large"><div style="width: 32px; height: 32px;"><svg viewBox="0 0 64 64" fill="white" width="32" height="32" class="social-icon social-icon--facebook " ><g><rect width="64" height="64" fill="#3b5998"></rect></g><g><path d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z"></path></g></svg></div></div>
                            </a>

                            <a (click)="win.open('https://twitter.com/intent/tweet?text='+Noticia?.tituloNoticiablog+' Vía @CIHumana&amp;url='+locurl,'sharer','toolbar=0,status=0,width=548,height=325')">
                                <div role="button" tabindex="0" class="twicon SocialMediaShareButton--twitter btn-share-twitter--large"><div style="width: 32px; height: 32px;"><svg viewBox="0 0 64 64" fill="white" width="32" height="32" class="social-icon social-icon--twitter "><g><rect width="64" height="64" fill="#00aced"></rect></g><g><path d="M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z"></path></g></svg></div></div>
                            </a>
                        </div>   
                        <div class="col-lg-12 rest text-justify">
                            <p>{{Noticia?.descripcionNoticiablog}}</p>
                        </div>                                               
                    </div>
                </div>
            </div>
        </div>