<app-menu></app-menu>
<div class="educacionVideo">
    <div class="col-md-12">
        <br>
        <br>
    </div>
    <div class="col-md-12 block1">
        <div class="row">
            <div class="col-md-4">
                <img id="vector" src="../../assets/imgs/vector2.png">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a id="colorA">EDUCACIÓN</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 blo">
        <p>Impartimos cursos para empresas y personas que desean aumentar su competitividad y habilidades</p>
        <iframe src="https://www.youtube.com/embed/NZkS1n4ipVM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<div class="educacionVideo2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-12">
                <a id="colorA">EDUCACIÓN</a>
            </div>
            <div class="col-12">
                <p>Impartimos cursos para empresas y personas que desean aumentar su competitividad y habilidades</p>
            </div>
            <div class="col-12">
                <iframe src="https://www.youtube.com/embed/NZkS1n4ipVM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
                    style="width: 100%;height: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="cursos">
    <div class="col-md-12" style="text-align: center;">
        <a id="colorA" style="font-size: 50px">CURSOS</a>
    </div>
    <div class="col-md-12" style="height: 950px;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div id="ex3">
                    <div class="col-md-12" style="height: 750px;">
                        <div class="row" *ngFor="let cursos of cursos; let impar = odd;let par = even;">
                                <div class="col-md-12 cursoClick" (click)="getCurso(cursos.idCurso)" *ngIf="cursos.statusCurso == 1" [ngClass]="{azul:impar,naranja:par}">
                                    <div class="curso" name=".1">
                                        <a id="colorB">{{cursos?.nombreCurso}}</a>
                                        <p id="colorB">{{cursos?.descripcionCurso}}</p>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-md-12">
                    <div class="col-12 text-center" id="imgcur">
                        <img src="{{url+ '/getImageFileC/' + curso?.imagenCurso}}" class="img-fluid img-le">
                    </div>
                </div>
                <br>
                <a id="edu" class="estrategia">{{curso?.nombreCurso}}</a>
                <p id="edupar" class="contenido">{{curso?.aprendizajeCurso}}</p>
                <a id="edu">Objetivo</a>
                <p id="edupar" class="objetivo">{{curso?.objetivoCurso}}</p>
                <a id="edu">Duracion: {{curso?.duracionCurso}}hrs.</a>
                <a id="edupar" class="descarga" href="{{curso?.urlCurso}}" target="_blank"
                    style="float: right;font-weight: bold;"> Mas información</a>
                <img class="facedu" src="../../assets/imgs/facebook index-01.png" onClick="location.href='https://www.facebook.com/cihumanaedu/'">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<div class="cursos2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
            </div>
            <div class="col-12" style="text-align: center;">
                <a id="colorA" style="font-size: 45px">CURSOS</a>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12" *ngFor="let cursos of cursos; let impar = odd;let par = even;" [ngClass]="{azul:impar,naranja:par}">
                        <div class="curso" *ngIf="cursos.statusCurso == 1">
                            <a id="colorB">{{cursos?.nombreCurso}}</a>
                            <p id="colorB">{{cursos?.descripcionCurso}}</p>
                        <div class="col-12" style="background-color: white;">
                        <a id="edu" class="estrategia">Objetivo</a>
                        <p id="edupar" class="contenido">{{cursos?.objetivoCurso}}</p>
                            <br>
                            <a id="edu">Duración: {{cursos?.duracionCurso}}hrs.</a>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <a style="font-size: 18px" href="{{cursos?.urlCurso}}" target="_blank">Más información</a>
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a href="https://www.facebook.com/cihumanaedu/" target="blank" style="font-size: 18px">
                                            <i style="color: #00549b; cursor: pointer" class="fab fa-facebook-square fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <!-- </p> -->
                    </div>
                        </div>

                    </div>
                    
                
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>