.block1{
	overflow: hidden;
	text-align: left;

}
.block1 img{
	width: 100%;
	height: 100%;
}

.block1 a{
	font-size: 180px;
}
.blo{
	text-align: center;
}
.blo p{
	font-size: 30px;
}

.blo iframe{
	width: 100%;
	height: 500px;
}


#colorA{
	color: #00549b;
}

#vector{
	opacity: 0.7;
}

#ex3 {
	height: 80%;
	width: 100%;    
	overflow-y: auto;

}

#ex3::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.cursoClick{
   margin-bottom: 8%;
   cursor: pointer;
}
.cursoClick:hover{
	opacity: 0.5;
}

.curso {
	height: 190px;
}

.curso a{
	font-size: 25px;
	font-weight: bold;
}

.curso p{
	font-size: 20px;
}

.imgGrupo{
	width:90%;
	height: 20%;
}

#colorB{
	color: white;
}

#edu{
	font-size: 35px;
	font-weight: bold;
	color: #00549b
}

#edupar{
	font-size: 25px;
}

.naranja{
	background-color: #e45f27;
	text-align: center;
}

.azul{
	background-color: #00549b;
	text-align: center;
}

#titulo{
	text-align: left;
}

.facedu{
	height: 5%;
	width: 5%;
	float: right;
}

.footer{
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 170px;
	background-color: #0b2d42;
	color: #fff;
}
.educacionVideo2{
	display: none;
}

.cursos2{
	display: none;
}
.footer2{
	display: none;
}
#imgcur{
   align-content: center;
   /*border: black 1px solid;*/
}
#imgcur img{
   width: 100%;
   /*width: 200px;*/
   height: 250px;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   --------------------------------------------*/
   @media all and (min-width: 1024px) and (max-width: 1450px) { 
   	.block1 a{
   		font-size: 100px;
   	}
   	.facedu{
   		height: 4%;
   		width: 6%;
   		float: right;
   	}

   }
   @media all and (min-width: 1450px) and (max-width: 1536px) {
   	.block1 a{
   		font-size: 130px;
   	}
   	.facedu{
   		height: 4%;
   		width: 6%;
   		float: right;
   	}

   }

   @media all and (min-width: 768px) and (max-width: 1023px) {
   	.educacionVideo {
   		display: none;
   	}
   	.educacionVideo2{
   		display: inline-block;
   		text-align: center;
   	}
   	.educacionVideo2 a{
   		font-size: 50px;
   	}
   	.educacionVideo2 p{
   		font-size: 30px;
   	}
   	.cursos{
   		display: none;
   	}
   	.cursos2{
   		display: inline-block;
   	}
   	.cursos2 a{
   		font-size: 50px;
   		text-align: center;
   	}

   	.curso{
   		height: 100%;
   	}
   	.curso a{
   		font-size: 50px;
   	}
   	.curso p{
   		font-size: 30px;
   	}

   	.estrategia2{
   		font-size: 1px;
   	}
   	.footer{
   		display: none;
   	}

   	.footer2 {
   		display: inline-block;
   		background: #0b2d42;
   		color: white;
   		text-align: center;
   		width: 100%;
   	}

   }

   @media all and (min-width: 480px) and (max-width: 767px) {
   	.educacionVideo {
   		display: none;
   	}
   	.educacionVideo2{
   		display: inline-block;
   		text-align: center;
   	}
   	.educacionVideo2 a{
   		font-size: 40px;
   	}
   	.cursos{
   		display: none;
   	}
   	.cursos2{
   		display: inline-block;
   	}
   	.cursos2 a{
   		font-size: 40px;
   		text-align: center;
   	}

   	.curso{
   		height: 100%;
   	}

   	.estrategia2{
   		font-size: 1px;
   	}
   	.footer{
   		display: none;
   	}

   	.footer2 {
   		display: inline-block;
   		background: #0b2d42;
   		color: white;
   		text-align: center;
   		width: 100%;
   	}
   }

   @media all and (max-width: 480px) {
   	.educacionVideo {
   		display: none;
   	}
   	.educacionVideo2{
   		display: inline-block;
   		text-align: center;
   	}
   	.educacionVideo2 a{
   		font-size: 40px;
   	}
   	#edu{
   		font-size: 20px;
   	}
   	#edupar{
   		font-size: 16px;
   	}
   	.cursos{
   		display: none;
   	}
   	.cursos2{
   		display: inline-block;
   	}
   	.cursos2 a{
   		font-size: 40px;
   		text-align: center;
   	}

   	.curso{
   		height: 100%;
   	}

   	.estrategia2{
   		font-size: 1px;
   	}
   	.footer{
   		display: none;
   	}

   	.footer2 {
   		display: inline-block;
   		background: #0b2d42;
   		color: white;
   		text-align: center;
   		width: 100%;
   	}
   }


   /* Portrait */
   @media screen and (orientation:portrait) {

   }
   /* Landscape */
   @media screen and (orientation:landscape) {

   }


   /* CSS for iPhone, iPad, and Retina Displays */

   /* Non-Retina */
   @media screen and (-webkit-max-device-pixel-ratio: 1) {

   }

   /* Retina */
   @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
   only screen and (-o-min-device-pixel-ratio: 3/2),
   only screen and (min--moz-device-pixel-ratio: 1.5),
   only screen and (min-device-pixel-ratio: 1.5) {
   }

   /* iPhone Portrait */
   @media screen and (max-device-width: 480px) and (orientation:portrait) {

   } 

   /* iPhone Landscape */
   @media screen and (max-device-width: 480px) and (orientation:landscape) {

   }

   /* iPad Portrait */
   @media screen and (min-device-width: 481px) and (orientation:portrait) {

   }

   /* iPad Landscape */
   @media screen and (min-device-width: 481px) and (orientation:landscape) {

   }