<div class="row">
	<div class="col-12">
		<button type="button" id="add" [routerLink]="['/regcliente']" class="btn btn-success text-center">+</button>
	</div>
</div>
<div class="row container" >
	<div class="col-lg-4" *ngFor="let client of client">
<mat-card class="card" [class.baja]="client.statusCliente == '0'">
	<mat-card-content>
		<img src="{{url+'/getImageFileCliente/'+client.fotoCliente}}" class="img-fluid rounded-circle img-thumbnail imgs">
			<h5>
			Empresa: {{client.empresaCliente}}
			</h5>		
	</mat-card-content>
	<mat-card-actions>
		<div class="text-center but">
				<button mat-button [routerLink]="['/editcliente/'+client.idCliente]" class="ver zoom">Editar</button>
				<button mat-button (click)="elimCliente(client.idCliente)" class="cancelar text-center zoom" [class.des]="client.statusCliente == '0'" [class.act]="client.statusCliente == '1'">Desactivar</button>
				<button mat-button (click)="regreCliente(client.idCliente)" class="cancelar text-center zoom" [class.des]="client.statusCliente == '1'" [class.act]="client.statusCliente == '0'">Activar</button>
		</div>
	</mat-card-actions>
</mat-card>
<br>
</div>
</div>
