mat-card {
	max-width: 300px;
  	box-shadow : 0 0 5px rgba(0,0,255,1);
	border : 1px solid rgba(0,0,255,0.6);
    margin-top: 5%;
}

label {
	font-weight: bold;
}


#add {
	position: fixed;
	z-index: 1;
	left: 90%;
	margin-top: 20%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-size: 5vh;
	font-weight: bold;
	padding-bottom: 1%;
	background-color: #00549b;
}
.cancelar{
	background-color: #FF9100;
}
.ver{
	background-color: #00549b;
}
.zoom{        
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 2s,-o-transform 1s;
    }
.zoom:hover{ 
    transform : scale(1.2);
    -webkit-transform : scale(1.2);   /* Chrome - Safari */    
}
.but button{
	margin-right: 10%;
}

.baja {
	background-color: lightgrey;
	opacity: 0.5;
}

.act {
	display: all;
	visibility: visible;
}

.des {
	display: none;
	visibility: hidden;
}
.imgs{
	width: 30%;
	height: 30%;
	object-fit: scale-down;
	left: 33%;
	margin-bottom: 5%;
}

@media screen and (max-width: 600px){
  #add{
  	margin-top: 70%;
  	left: 80%;
  	padding-bottom: 3%;
  }
  .container{
    margin-left: 0%;
  }
}
