<div class="card-container card" >
	<h1>Modificar Cliente</h1>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<div class="image_for_edit" *ngIf='client.fotoCliente && client.fotoCliente != "default.jpg"'>
				<img src="{{url+'/getImageFileCliente/'+client.fotoCliente}}" class="imgs">
			</div>
			<p>
				<label>Nombre Empresa:</label>
				<input type="text" #nombre = 'ngModel' name="empresaCliente" [(ngModel)] = 'client.empresaCliente' class="form-control" required>
			</p>
			<p>
				<label>Cambiar Imagen</label><br>
				<input type="file" accept=".jpg, .png, .jpeg|images/*" placeholder="Sube una imagen..." class="hide" id="files"  (change)='fileChangeEvent($event)'><br>
				<output id="list"></output><br>
				<label id="info"></label>
			</p>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Modificar</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/clientes']" class="btn btn-success">Ver clientes</button>
				</div>
			</div>
		</form>
	</div>
</div>