.imgs{
	width: 10%;
	height: 10%;
	object-fit: scale-down;
	margin-left: 40%;
}
.hide {
  visibility: hidden;
  width: 0;
 /* position: relative;*/
  margin-right: 10%;
}
.hide::before{
  content: 'Subir Archivos';
  display: inline-block;
  background-color: #00549b; 
  border: 1px solid #00549b;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
  color: white; 
}

@media screen and (max-width: 600px){
  .hide{
    margin-right: 35%;
  }
}