<div class="card-container card">
	<h1>Añadir un Cliente</h1>
	<div *ngIf='alertRegister'>
		<div class="alert alert-info" role="alert">
			{{alertRegister}}
		</div>
	</div>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<p>
				<label>Nombre empresa:</label>
				<input type="text" #nombre = 'ngModel' name="empresaCliente" [(ngModel)] = 'client.empresaCliente' class="form-control" placeholder="Nombre" required>
			</p>
			<p>
				<label>Cambiar Imagen</label><br>
				<input type="file" accept=".jpg, .png, .jpeg|images/*" placeholder="Sube una imagen..." id="files" class="hide" (change)='fileChangeEvent($event)'><br>
				<output id="list"></output><br>
				<label id="info"></label>
			</p>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Crear</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/clientes']" class="btn btn-success">Ver clientes</button>
				</div>
			</div>
		</form>
	</div>
</div>