<div class="col-sm-12">
	<div class="col-sm-4 offset-sm-4" align="center">
<div class="card-container card">
<div>
	<p><img src="../../../assets/img/default.png" class="img-fluid rounded-circle imgAdmin"></p>

</div>

	<div class="row text-center ">
		<form class="col-12" #loginForm = 'ngForm' (ngSubmit)='onSubmit()'>
			<div class="form-group">
				<input type="text" #email = 'ngModel' class="form-control" placeholder="Usuario" name="email" [(ngModel)] = 'administrador.correoAdministrador' required>
				<span *ngIf="!email.valid && email.touched" class="alert-danger">
					El email es obligatorio
				</span>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" #password = 'ngModel' name="password" [(ngModel)] = 'administrador.passwordAdministrador' placeholder="Contraseña" required/>	
				<span *ngIf="!password.value && password.touched" class="alert-danger" id="err2">
					La contraseña es obligatoria
				</span>		
			</div>
			<div>
			<input type="submit" value="Entrar" class="btn btn-outline-primary zoom">
			</div>
		</form>
	</div>

<div class="text-center">
	<a href="">¿Olvidaste tu contraseña?</a>
</div>
</div>
</div>
</div>