.imgAdmin{
	width: 50%;
	height: 50%;
}
.card-container {
    max-width: 350px;
    padding: 40px 40px;
    opacity: .8; 
    border-radius: 10px;
/*    left: 35%;
    right: 50%;*/
}
.zoom{        
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 2s,-o-transform 1s;
    }
.zoom:hover{ 
    transform : scale(1.2);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */
}
/*
.inp:focus{
    box-shadow : 0 0 5px rgba(0,255,0,1);
    border : 1px solid rgba(0,255,0,0.8);
}*/

