<div class="row">
	<div class="col-12">
		<button type="button" id="add" [routerLink]="['/regcur']" class="btn btn-success text-center">+</button>
	</div>
</div>
<div class="row container" >
	<div class="col-lg-4" *ngFor="let curso of curso">
<mat-card class="card" [class.baja]="curso.statusCurso == '0'">
	<mat-card-header>
		<mat-card-title>Nombre: {{curso.nombreCurso}}</mat-card-title>
		<mat-card-subtitle>Duración: {{curso.duracionCurso}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<label>URL: </label><br>
		<a href="{{curso.urlCurso}}">
			<i class="fas fa-folder fa-2x"></i>
		</a>
	</mat-card-content>
	<mat-card-actions>
		<div class="text-center but">
				<button mat-button [routerLink]="['/editcur/'+curso.idCurso]" class="ver zoom">Editar</button>
				<button  mat-button (click)="elimConf(curso.idCurso)" class="cancelar text-center zoom" [class.des]="curso.statusCurso == '0'" [class.act]="curso.statusCurso == '1'">Desactivar</button>
				<button  mat-button (click)="regreConf(curso.idCurso)" class="cancelar text-center zoom" [class.des]="curso.statusCurso == '1'" [class.act]="curso.statusCurso == '0'">Activar</button>
		</div>
	</mat-card-actions>
</mat-card>
<br>
</div>
</div>