<h1 mat-dialog-title>Curso: {{curso.nombreCurso}}</h1>
<div mat-dialog-content>
	<form #registerForm = 'ngForm' class="col-md-12">
		<p>
			<label>Nombre:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.nombreCurso" name="nombreCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Descripción:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.descripcionCurso" name="descripcionCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Aprendizaje:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.aprendizajeCurso" name="aprendizajeCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Objetivo:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.objetivoCurso" name="objetivoCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Duracion:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.duracionCurso" name="duracionCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Url:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.urlCurso" name="urlCurso">
			</mat-form-field>
		</p>
	</form>
</div>
<div mat-dialog-actions class="row">
	<div class="col-6">
		<button (click)="onNoClick()" class="btn btn-default text-center">Salir</button>
	</div>
	<div class="col-6">
		<button (click)="onEditClick()" class="btn btn-success text-center">Modificar</button>
	</div>
</div>