<div class="card-container card" >
	<h1>Modificar curso</h1>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<p>
				<label>Nombre:</label>
				<input type="text" #nombre = 'ngModel' name="nombreCurso" [(ngModel)] = 'curso.nombreCurso' class="form-control" required>
			</p>
			<p>
				<label>Descripcion:</label>
				<input type="text" #desc = 'ngModel' name="desc" [(ngModel)]='curso.descripcionCurso' class="form-control" required>
			</p>
			<p>
				<label>Aprendizaje:</label>
				<input type="text" #apre = 'ngModel' name="apre" [(ngModel)] = 'curso.aprendizajeCurso' class="form-control" required>
			</p>
			<p>
				<label>Objetivo:</label>
				<input type="text" #obj = 'ngModel' name="obj" [(ngModel)] = 'curso.objetivoCurso' class="form-control" required>
			</p>
			<p>
				<label>Duracion:</label>
				<input type="text" #dura = 'ngModel' name="dura" [(ngModel)] = 'curso.duracionCurso' class="form-control" required>
			</p>
			<p>
				<label>Url:</label>
				<input type="text" #url = 'ngModel' name="url" [(ngModel)] = 'curso.urlCurso' class="form-control" required>
			</p>
			<p>
				<div  *ngIf='curso.imagenCurso && curso.imagenCurso != "default.jpg"' id="imagenCur">
					<img src="{{dir + '/getImageFileC/' + curso?.imagenCurso}}" class=" profile-img-card-square" />
				</div>
				<!-- <label class="btn btn-info">
					Examinar
					<input type="file" id="files" (change)='fileChangeEvent($event)' hidden>
				</label> -->
				<input type="file" accept=".jpg, .png, .jpeg|images/*" placeholder="Sube una imagen..." class="hide btn btn-info" id="files" (change)='fileChangeEvent($event)'>
				<output id="list"></output>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Modificar</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/cursos']" class="btn btn-success">Ver cursos</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- <h1 mat-dialog-title>Curso: {{curso.nombreCurso}}</h1>
<div mat-dialog-content>
	<form #registerForm = 'ngForm' class="col-md-12">
		<p>
			<label>Nombre:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.nombreCurso" name="nombreCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Descripción:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.descripcionCurso" name="descripcionCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Aprendizaje:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.aprendizajeCurso" name="aprendizajeCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Objetivo:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.objetivoCurso" name="objetivoCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Duracion:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.duracionCurso" name="duracionCurso">
			</mat-form-field>
		</p>
		<p>
			<label>Url:</label>
			<mat-form-field>
				<input type="text" matInput [(ngModel)]="curso.urlCurso" name="urlCurso">
			</mat-form-field>
		</p>
	</form>
</div>
<div class="row text-center">
	<div class="col-6">
		<button type="submit" class="btn btn-primary">Modificar</button>
	</div>
	<div class="col-6">
		<button [routerLink]="['/pruebas']" class="btn btn-success">Ver cursos</button>
	</div>
</div> -->