<div class="card-container card">
	<h1>Crea un curso</h1>
	<div *ngIf='alertRegister'>
		<div class="alert alert-info" role="alert">
			{{alertRegister}}
		</div>
	</div>
	<div class="container">
		<form #registerForm = 'ngForm' (ngSubmit)= 'onSubmitRegister()' class="col-md-12">
			<p>
				<label>Nombre:</label>
				<input type="text" #nombre = 'ngModel' name="nombre" [(ngModel)] = 'curso.nombreCurso' class="form-control" placeholder="Nombre" required>
				<!-- <span *ngIf="!nombre.valid && nombre.touched" class="alert-danger">
			        Debe ingresarse un Nombre de curso
			    </span>  -->
			</p>
			<p>
				<label>Descripcion:</label>
				<input type="text" #desc = 'ngModel' name="desc" [(ngModel)]='curso.descripcionCurso' class="form-control" placeholder="Descripcion" required>
				<!-- <span *ngIf="!desc.valid && desc.touched" class="alert-danger">
			        Debe ingresarse una Descripcion 
			    </span>  -->
			</p>
			<p>
				<label>Aprendizaje:</label>
				<input type="text" #apre = 'ngModel' name="apre" [(ngModel)] = 'curso.aprendizajeCurso' class="form-control" placeholder="Aprendizaje" required>
				<!-- <span *ngIf="!apre.valid && apre.touched" class="alert-danger">
			        Debe ingresarse un Aprendizaje 
			    </span>   -->
			</p>
			<p>
				<label>Objetivo:</label>
				<input type="text" #obj = 'ngModel' name="obj" [(ngModel)] = 'curso.objetivoCurso' class="form-control" placeholder="Objetivo" required>
				<!-- <span *ngIf="!obj.valid && obj.touched" class="alert-danger">
			        Debe ingresarse un Objetivo 
			    </span>  -->
			</p>
			<p>
				<label>Duracion:</label>
				<input type="text" #dura = 'ngModel' name="dura" [(ngModel)] = 'curso.duracionCurso' class="form-control" placeholder="Duracion" required>
				<!-- <span *ngIf="!dura.valid && dura.touched" class="alert-danger">
			        Debe ingresarse una Duracion 
			    </span>  -->
			</p>
			<p>
				<label>Url:</label>
				<input type="text" #url = 'ngModel' name="url" [(ngModel)] = 'curso.urlCurso' class="form-control" placeholder="Url" required>
				<!-- <span *ngIf="!url.valid && url.touched" class="alert-danger">
			        Debe ingresarse un Url 
			    </span> --> 
			</p>
			<p>
				<label>Imagen:</label><br>
				<input type="file" accept=".jpg, .png, .jpeg|images/*" placeholder="Sube una imagen..." class="hide" id="files" (change)='fileChangeEvent($event)'><br>
				<output id="list"></output><br>
				<label id="info"></label>
			</p>
			<div class="row text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-primary">Crear</button>
				</div>
				<div class="col-6">
					<button [routerLink]="['/cursos']" class="btn btn-success">Ver cursos</button>
				</div>
			</div>
		</form>
	</div>
</div>